._disabled {

  &.app-checkbox_tree {
    .app-checkbox__checker {
      &:before {
        background-position: 0 -60px;
      }
    }
  }

  &.app-checkbox {
    .control-label, label {
      input[type="checkbox"] {
        & ~ span {
          &:before {

            background-position: 0 -60px;

          }
        }
      }
    }
  }

}

a {
  &._disabled {
    pointer-events: none !important;
    color: @grey-2 !important;
  }
}

._disabled_with_events {
  ._disabled-mixin;
  pointer-events: all!important;
}

.app-search {
  .app-search__button {
    &._disabled {
      background: @app-search_treeview-bg!important;
      color: @grey-8!important;
      border-color: @app-search_treeview-bg!important;
      box-shadow: none;
    }
  }
}

._disabled-mixin {
  background: @grey-8!important;
  color: @white-1!important;
  border-color: @grey-8!important;
  pointer-events: none !important;
  opacity: 1;
}

.btn[disabled],
.btn._disabled {
  ._disabled-mixin;
}

