.gradient_patient-info {
  #gradient > .vertical(@theme-color, lighten(@theme-color, 10%));
}
.gradient_sidebar-controls {
  #gradient > .vertical(@theme-color, lighten(@theme-color, 10%));
}

.gradient_intensity-icon-white-1 {
  #gradient > .vertical(@white-1, transparent, 0%, 70%);
}
.gradient_intensity-icon-white-2 {
  background-color: transparent;
}
.gradient_intensity-icon-black-1 {
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(163,160,163,1) 60%, rgba(122,122,122,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(60%, rgba(163,160,163,1)), color-stop(100%, rgba(122,122,122,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(163,160,163,1) 60%, rgba(122,122,122,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(163,160,163,1) 60%, rgba(122,122,122,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(163,160,163,1) 60%, rgba(122,122,122,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(163,160,163,1) 60%, rgba(122,122,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7a7a7a', GradientType=0 );
}
.gradient_intensity-icon-black-2 {
  background: rgba(207,207,207,1);
  background: -moz-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(122,122,122,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207,207,207,1)), color-stop(100%, rgba(122,122,122,1)));
  background: -webkit-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(122,122,122,1) 100%);
  background: -o-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(122,122,122,1) 100%);
  background: -ms-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(122,122,122,1) 100%);
  background: linear-gradient(to bottom, rgba(207,207,207,1) 0%, rgba(122,122,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#7a7a7a', GradientType=0 );
}