._icon {
  &._icon_small {
    font-size: 12px;
  }
  &._icon_middle {
    font-size: 14px;
  }
  &._icon_large {
    font-size: 16px;
  }
}


.app-icon_badge {
  font-family: @font-regular;
  font-size: 10px;
  background: @yellow-5;
  display: inline;
  width: auto;
  padding: 0 3px;
  color: @white-1;

}


//TEMP


.app-icon_intensity {
  display: block;
  position: relative;
  z-index:10;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 2px @white-1;

  &:before {
    content: " ";
    .gradient_intensity-icon-white-1;
    width: 50%;
    height: 100%;
    border-radius: 50% 0 0 50%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }
  &:after {
    content: " ";
    .gradient_intensity-icon-white-2;
    width: 50%;
    height: 100%;
    border-radius: 0 50% 50% 0;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
  }
  &.app-icon_intensity-black {

    border: solid 2px @black-1;

    &:before {
      content: " ";
      .gradient_intensity-icon-black-1;

    }
    &:after {
      content: " ";
      .gradient_intensity-icon-black-2;

    }
  }
}