.fontFace(@family, @style, @weight, @src, @local) {
  font-family: @family;
  font-style: @style;
  font-weight: @weight;
  src:
  url('@{src}.eot');
  src:
  local(@local),
  url('@{src}.eot?#iefix') format('embedded-opentype'),
  url('@{src}.woff2') format('woff2'),
  url('@{src}.woff') format('woff'),
  url('@{src}.ttf') format('truetype'),
  url('@{src}.svg') format('svg');
}