&._pointer {
  cursor: pointer;
}

._background-white {
  background: @white-1;
}
._background-transparent_1 {
  background: rgba(255, 255, 255, 0.6);
}
._background-gray {
  background: @grey-1;
}


input[type="text"]::-ms-clear {
  display: none;
}



._bordered-right {
  border-right: solid 1px @grey-1;
}




._mpi-select-all {
  ._select-all;
  text-align: right;
}

._select-all {
  color: @theme-color;
  display: block;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
}

._mpi-col-fix {
  height: 50px;

}


/*Colors tricks*/
._color-green {
  color: @green-1;
}
._color-red {
  color: @theme-color;
}
._color-white {
  color: @white-1;
}


/*BORDERED MESSAGE*/
.app-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: solid 2px @theme-color;

  padding: 5px 15px;

  &.app-message_search-page {
    width: 310px;
    margin: 0 auto;
  }

  &.app-message_notes {
    justify-content: flex-end;
    padding: 0;
    border: none;
    background-color: transparent;
    .app-message__icon {
      color: @theme-color;
      margin: 0 5px 0 3px;
    }
  }
}


.app-message__icon {
  color: @theme-color;

  margin: 0 5px 0 0;
  font-size: 16px;
  top: -1px;
  display: flex;
  height: auto;
}
.app-message__text {
  color: @theme-color;
  flex-grow: 1;

  font-family: @font-regular;
}


.modal#editDocumentInfoContainer {
  .popover {
    max-width: 500px;
    max-height: 350px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;

    top: 0!important;
  }
}


._has-chear {
  position: relative;
}

table td {
  word-wrap: break-word;
  word-break: break-all;
}

label {
  &.error {
    display: inline;
  }
}

/*IE SCROLLBAR FIX*/
html {
  -ms-overflow-style: scrollbar;
}
