.a4 {
  padding: 40px;
  font-style: italic;
  color: #1ba9c7;
  width:1000px;
  height: 100%;
  background: #fff;
}

.a4__header {
  margin-bottom: 25px;
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 23px;
  }
}

.a4__chapter-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.a4__chapter-header-letter {
  background: #1ba9c7;
  border-radius: 50%;
  color: #fff;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}
.a4__chapter-header-text {
  margin-left: 5px;
  font-size:18px;
  font-weight:bold;
}

.a4__form {}
.a4__form-control {
  display: flex;
  flex-direction: column;
  position: relative;
  &.a4__form-control_horizontal {
    flex-direction: row;
    .a4__form-label {
      flex: 0 1 auto;
      margin-bottom:0;
      &.a4__form-label_nowrap {
        white-space:nowrap;
      }
    }
    .a4__form-input {
      flex: 1 1 auto;
      min-width: 30px;
      height: 14px;
    }
  }

}
.a4__form-label {
  font-size: 11px;
  font-style: normal;
  color: #8b8b8c;
  margin-bottom:0;
}
.a4__form-input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #8b8b8c;
  outline:none;
}
input.a4__form-checkbox {
  margin: 2px 3px 0 0;
}
.a4__form-textarea {
  z-index:1;

  &:before,
  &:after {
    content: '';
    top: 0;
    left:0;
    width: 100%;
    border-bottom: solid 1px #8b8b8c;
    position: absolute;
    z-index: -1;
  }

  &:before{
    height: 25px;
  }
  &:after{
    height: 50px;
  }
  textarea {
    height: 75px;
    width: 100%;
    background:transparent;
    resize: none;

    border:none;
    border-bottom: solid 1px #8b8b8c;
    line-height: 25px;
    outline: none;
    overflow: hidden;
  }
}

.a4__block {
  margin-bottom: 30px;
}

.a4__block-image {
  width:100%;
  height: 300px;
  img {
    width:100%;
    height: 100%;
  }

}