.showHideTreeGroup a.button {
  cursor: pointer;
  width: auto;
  margin: 0 0 1px 1px;
  padding: 0 3px;
  height: auto;
  border: none;
  z-index:1000;
  box-shadow: none;
}


.button {
  &.button_absolute {
    position: absolute;
  }
}


//toolbar
.toolbar__item {
  &.btn-group {
    padding: 2px;
  }
}




#filterText {
  width: 100%;
}

#searchContainer {
  margin-top: 0;
}

.controls a.buttonTxt {
  box-shadow: none;
  border: none;
}

a.buttonTxtSimple {
  border: none;
}

canvas.cropCanvas {
 /* top: 34px;*/
}


div.hotRegion {
  font-weight: normal;
  border: none;

}


span.documentLinkSelected {
  border: none;
  border-style: none;

  background: #dddddd;
}


.userListView .searchBox,
.groupListView .searchBox {
  margin: 0;
}

.userListView .addNewUser,
.groupListView .addNewGroup {
  position: absolute;
  top: -120px;
  right: 0;
}



.userListView .archiveCheckBoxContainer {
  float: right;

}

.koMultiSelect {
  ul {
    list-style: none;
  }
}

#editUserMappingModal .buttons {
  padding: 0;
}

.documentNotes .documentNoteAdd {
  background-color: #dddddd;
}

.documentNotes .noteDescription {
  word-wrap: break-word;
  height: auto;
  max-height: 130px;
  min-height: 0;
}

.documentNotes .highlight,
.notifications .highlight {
  background-color: #eee;
}

.notes-title {
  word-break: break-all;
}

iframe#fake {
  display: none;
}

.searchclear {
  height: 17px;
}

