.user-agent_tablet {

  /* Show/Hide treeview */

  .app-sidebar__controls {
    right: -20px;
    .app-sidebar_hide {
      right: 30px;
    }
    .app-sidebar_show {
      top: 30px;
      right: -20px;
      width: 40px;
      .app-sidebar__controls-icon {
        display: block;
        text-align: center;
      }
    }

    .app-sidebar__controls-icon {
      box-shadow: none;
    }
  }

  .app-tree__options {
    .app-tree__options-item {
      /*font-size: 24px;*/
    }
  }

  .app-grid__column {
    /*      &.app-grid__column_thumbs {
            display: none;
          }*/
    &.app-grid__column_sidebar_hidden {
      width: 0.001px;
    }
  }

  /* Application sidebar tree overrides */

  .app-tree {
    .app-checkbox_tree {
      padding-left: 0;
      input[type="checkbox"] {
        display: none;
      }
      .app-checkbox__checker {
        display: none;
      }
    }

    .app-tree__group {

      margin-top: 10px;
      .app-tree__group-container {
        align-items: center;
      }

      & > .app-tree__group {
        margin-top: 10px;
      }

      .app-tree__group-icon {
        width: auto;
        height: auto;
        margin-right: 10px;
        &:before {
          font-size: 24px;
        }
      }
    }
    .app-tree__item-text {
      margin-left: 18px;
    }

  }

  /* App-search */

  .app-search__button {
    border-radius: 3px;
  }

  /* Tasklist aka hotRegion */

  .btn-group {
    &.btn-group_table {
      .btn {
        padding: 10px 5px;

        border: solid 2px transparent;

        box-shadow: none;
        background: transparent;
        color: @theme-color;
        &.active {
          border-bottom: solid 2px @theme-color;
        }
      }

      &._mod_tablet-1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -50%;
        background: #fff;
        width: 160px;
        .btn {
          width: 100%;
          color: @theme-color;
          &.active {
            border: none;
            color: @white-1;
            background: @theme-color;
          }
        }
      }

    }
  }

  .btn-group {

    &.btn-group_tablet {
      display: flex;
      flex-direction: column;
      width: 150px;
      position: absolute;
      right: -40%;
      background: @white-1;
      box-shadow: 0 1px 2px #bababa;
      z-index: 10000;
      padding: 10px 5px 15px 5px;
      .btn {
        display: block;
        width: 100%;

        &:before {
          content: " ";
          width: 20px;
          height: 20px;
          border: solid 2px @black-1;
          left: 10px;
          top: 6px;
          position: absolute;
          border-radius: 50%;
        }

      }

      &.btn-group_table {
        .btn {
          font-size: 14px;
          color: @black-1;
          text-align: left;
          padding: 11px 0px 0 40px;

          &.active {
            border-color: transparent;
            &:before {
              border-color: @theme-color;
            }
            &:after {
              content: " ";
              width: 10px;
              height: 10px;
              background: @theme-color;
              left: 15px;
              top: 11px;
              position: absolute;
              border-radius: 50%;
            }
          }
        }
      }

    }
  }

  .document-viewer__section_toolbox-tablet {
    display: inherit;
  }
  .document-viewer__document-pager {
    position: absolute;
    bottom: 10px;
    z-index: 100;
    left: 0;
    right: 0;
    padding: 5px;
    border-radius: 3px;

    min-width: 100px;
    width: auto;
    margin: auto;
    box-shadow: 0 1px 2px #bababa;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

  }

  .document-viewer__document-pager-container {
    background: rgba(255, 255, 255, .5);
    width: auto;
    min-width: 110px;
    margin: 0 auto;
    padding: 5px 5px 0 5px;

  }
  .document-viewer__document-pager-input {
    .app-thumbs__pager-input;
    background-color: @grey-6;
    height: auto;
    width: auto;
  }
  /* Global mods */

  ._hide_tablet {
    display: none !important;
  }

  ._show_tablet {
    display: inherit !important;
  }

  & ~ .hotRegion {
    display: none;
  }

  ._tablet-filter {
    display: block;
    cursor: pointer;
    text-align: right;
    flex-grow: 1;
  }

  .app-section {
    &.app-section_tablet-fix-1 {
      margin-top: 0;
    }
  }
  .canvas_selected {
    border: transparent;
  }

  .canvas_not-selected {
    border: solid 2px rgba(255, 255, 255, 0.0);
  }

}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

  .app-grid {
    min-width: 768px;
    .app-grid__column {
      &.app-grid__column_full-height {
        height: 100%;
      }
    }
  }

  .modal-dialog {
    width: 760px;
  }

  .wrapper_columns {
    height: 100%;
  }

}



._tablet-filter {
  display: none;
}

._show_tablet {
  display: none !important;
}

.btn-group {
  &.btn-group_table {
    &.btn-group_flat {
      .btn {
        font-size: 14px;
        padding: 5px;
        border: solid 3px transparent;
        border-left: none;
        border-right: none;
        box-shadow: none;
        background: transparent;

        color: @theme-color;
        font-family: @font-bold;

        &.active {
          border-bottom: solid 3px @black-1;

          box-shadow: none;
          color: @black-1;

        }
      }
    }

  }
}

