@media only screen and (max-device-width: 480px), all and (max-width: 480px) {
  .app-notifications__item {
    padding: 20px 5px 5px 5px;
  }
  .app-notifications__item-icon {
    display: none;
  }
  .app-notifications__item-date {
    display: none;
  }
  .app-notifications__item-collapse {
    display: none;
  }
}