/*
@media all and (max-height: 850px) {
  .app-tree {
    max-height: 300px;
  }
}

@media all and (max-height: 800px) {
  .app-tree {
    max-height: 250px;
  }
}

@media all and (max-height: 750px) {
  .app-tree {
    max-height: 230px;
  }
}*/
