@media only screen and (max-device-width: 480px), screen and (max-width:500px) {

  .search-panel__form-header-checkboxes {
    .app-checkbox {
      margin-right: 5px;
      label, .control-label {
        p, a {
          font-size: 12px;
          margin-left:0;
        }
      }
    }
  }
  .search-panel__form-header-checkboxes {
    justify-content: space-between;
  }
}