@media screen and (max-width:500px) {




  .app-grid {
    min-width: 0;
    .app-grid__column {
      &.app-grid__column_sidebar {
        width:100%;
        min-width: 0;
        max-width: 100%;
      }
      &.app-grid__column_full-width {
        padding: 0;
      }
    }
  }



  .tasklist__item {
    margin-bottom: 10px;
  }
}
