@media only screen and (max-device-width: 480px), screen and (max-width:500px) {

  .app-chart-global-container {
    width: 100%;
    z-index: 100;
  }

  .app-chat__messageboxes {
    right: 0;
    bottom: 0;
  }

}