@media (max-width: 1600px ) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 1350px ) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 760px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 1601px) {
  html {
    font-size: 13px;
  }
}
