@media only screen and (max-device-width: 480px), screen and (max-width:500px) {
  .wrapper_login {
    background-position-x: -100px;
  }
  .login-form-wrap {
    width: 100%;
    height: 365px;
    background: rgba(255,255,255,.8);
    padding: 10px;
    .login-form {
      width: auto;
      padding: 10px;
      .form-group {
        .form-control {
          height: 50px;
          font-size: 21px;
        }
      }
      .btn {
        &.btn-action {
          font-size: 21px;
        }
      }
    }
  }

}


@media all and (min-width: 1024px) {

  .wrapper_login {
    background: url("@{imgPath}/bg_login_smallest.jpg") center center;
    background-size: cover;
  }
}

@media all and (min-width: 1280px) {

  .wrapper_login {
    background: url("@{imgPath}/bg_login_small.jpg") center center;
    background-size: cover;
  }
}

@media all and (min-width: 1300px) {

  .wrapper_login {
    background: url("@{imgPath}/bg_login_middle.jpg") center center;
    background-size: cover;
  }
}

@media all and (min-width: 2000px) {

  .wrapper_login {
    background: url("@{imgPath}/bg_login_large.jpg") center center;
    background-size: cover;
  }
}
