@media only screen and (max-device-width: 480px), all and (max-width: 480px) {
  .modal {
      .modal-header {
        padding: 5px 0;
        height: auto;
        min-height: 30px;
        .modal-title {
          font-size: 20px;
          padding: 0 60px 0 7px;
          text-align: left;
        }
       .close {
         font-size: 18px;
         right: 12px;
       }
      }
      .modal-content {
        padding: 5px;
        .modal-body {
          padding: 0 3px;
          height: auto;
        }
        height: auto;
      }

    &.modal_notifications {
      .modal-header {
        padding: 5px 0;
      }
      .modal-content {
        padding: 5px;
        .modal-body {
          padding: 0 3px;
        }
      }
    }
    &.modal_notes {
      .modal-content {
        padding: 5px;
        .modal-body {
          padding: 0 3px;
        }
      }
    }

  }

  .modal-dialog {
    right: auto;
    width: 100%;
    padding: 0;
  }


}
