@media (max-width: 991px) {
  .nav-tabs {
    &.nav-justified {
      & > li {
        & > a {
          padding: 3px;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .nav-tabs {
    &.nav-justified {
      & > li {
        &:not(:first-child){
          & > a {
            border-top: none;
            border-left: solid 3px @theme-color;
          }
        }

      }
    }
  }
}