._landscape-restricted {
  display: none;
}


/* Landscape */
/*
@media only screen
and (orientation: landscape) {
  ._landscape-restricted {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000000;

    background: @black-1;
    h1,h2 {
      color: @white-1;
      text-align: center;
    }
  }

}*/
