@media only screen and (max-device-width: 480px), all and (max-width: 480px) {

  .search-panel {
    .search-panel__result {
      .app-table {
        tr {
          td {

          }
        }
      }
    }
    .search-panel__form {
      .search-panel__form-controls {
        padding-top: 15px;
      }
    }
  }

  ._patient-search__header-1 {
    width: 160px;
  }
  .app-message {
    &.app-message_search-page {
      width: auto;
    }
  }
}