@media all and (max-width: 1450px) {
  .toolbar {
    .toolbar__container {
      max-width: 615px;
      margin: 0 auto;
      justify-content: flex-start;
    }

    .toolbar__item {
    }
    .toolbar__item-group {
    }
  }
}
@media all and (max-width: 1300px) {
  .toolbar {
    .toolbar__container {
      max-width: 600px;
      margin: 0 auto;
    }

    .toolbar__item {
    }
    .toolbar__item-group {
    }
  }
}
@media all and (max-width: 1200px) {
  .toolbar {
    .toolbar__container {
      max-width: 560px;
      margin: 0 auto;
    }

    .toolbar__item {
    }
    .toolbar__item-group {
    }
  }
}
@media all and (max-width: 1100px) {
  .toolbar {
    .toolbar__container {
      max-width: 460px;
      margin: 0 auto;
    }

    .toolbar__item {
    }
    .toolbar__item-group {
    }
  }
}



