<div class="app-tree app-tree_with-selection">




    <div class="app-tree__group app-tree__group_opened">
        <div class="app-tree__group-container">
            <span class="app-tree__group-icon"></span>

           <span class="app-tree__group-text">
               Group 1
           </span>
        </div>
        <div class="app-tree__group app-tree__group_opened">

            <div class="app-tree__group-container">
                <span class="app-tree__group-icon"></span>
                <span class="app-tree__group-checkbox"></span>
            <span class="app-tree__group-text">
                Group 1.1
            </span>
            </div>


            <div class="app-tree__item">
                <span class="app-checkbox_tree">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">

                        <span class="app-checkbox__checker"></span>

                    <span class="app-tree__item-text">
                        Item sdfsd fdsfdsfdsfdsfdsfdsfdsfdsfdsf sdf sdf sdf
                    </span>
                    </label>
                </span>
            </div>


        </div>


        <div class="app-tree__group">
            <div class="app-tree__group-container">
                <span class="app-tree__group-icon"></span>
            <span class="app-tree__group-text">
                Group 1.1
            </span>
            </div>
            <div class="app-tree__item">
                <span class="app-checkbox_tree">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">

                        <span class="app-checkbox__checker"></span>

                    <span class="app-tree__item-text">
                        Item sdfsd fdsfdsfdsfdsfdsfdsfdsfdsfdsf sdf sdf sdf
                    </span>
                    </label>
                </span>
            </div>
            <div class="app-tree__item">
                <span class="app-checkbox">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">
                        <input name="ShowHYDSearch"
                               type="hidden"
                               value="false">
                    <span>
                        Item
                    </span>
                    </label>
                </span>
            </div>
            <div class="app-tree__item">
                <span class="app-checkbox">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">
                        <input name="ShowHYDSearch"
                               type="hidden"
                               value="false">
                    <span>
                        Item
                    </span>
                    </label>
                </span>
            </div>
        </div>

        <div class="app-tree__group">
            <div class="app-tree__group-container">
                <span class="app-tree__group-icon"></span>
            <span class="app-tree__group-text">
                Group 1.2
            </span>
            </div>
            <div class="app-tree__item">
                <span class="app-checkbox">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">
                        <input name="ShowHYDSearch"
                               type="hidden"
                               value="false">
                    <span>
                        Item
                    </span>
                    </label>
                </span>
            </div>

            <div class="app-tree__item">
                <span class="app-checkbox">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">
                        <input name="ShowHYDSearch"
                               type="hidden"
                               value="false">
                    <span>
                        Item
                    </span>
                    </label>
                </span>
            </div>

        </div>
    </div>
    <div class="app-tree__group app-tree__group_opened">
        <div class="app-tree__group-container">
            <span class="app-tree__group-icon"></span>

           <span class="app-tree__group-text">
               Group 1
           </span>
        </div>
        <div class="app-tree__group app-tree__group_opened">

            <div class="app-tree__group-container">
                <span class="app-tree__group-icon"></span>
                <span class="app-tree__group-checkbox"></span>
            <span class="app-tree__group-text">
                Group 1.1
            </span>
            </div>


            <div class="app-tree__item">
                <span class="app-checkbox_tree">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">

                        <span class="app-checkbox__checker"></span>

                    <span class="app-tree__item-text">
                        Item sdfsd fdsfdsfdsfdsfdsfdsfdsfdsfdsf sdf sdf sdf
                    </span>
                    </label>
                </span>
            </div>


        </div>


        <div class="app-tree__group">
            <div class="app-tree__group-container">
                <span class="app-tree__group-icon"></span>
            <span class="app-tree__group-text">
                Group 1.1
            </span>
            </div>
            <div class="app-tree__item">
                <span class="app-checkbox_tree">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">

                        <span class="app-checkbox__checker"></span>

                    <span class="app-tree__item-text">
                        Item sdfsd fdsfdsfdsfdsfdsfdsfdsfdsfdsf sdf sdf sdf
                    </span>
                    </label>
                </span>
            </div>
            <div class="app-tree__item">
                <span class="app-checkbox">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">
                        <input name="ShowHYDSearch"
                               type="hidden"
                               value="false">
                    <span>
                        Item
                    </span>
                    </label>
                </span>
            </div>
            <div class="app-tree__item">
                <span class="app-checkbox">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">
                        <input name="ShowHYDSearch"
                               type="hidden"
                               value="false">
                    <span>
                        Item
                    </span>
                    </label>
                </span>
            </div>
        </div>

        <div class="app-tree__group">
            <div class="app-tree__group-container">
                <span class="app-tree__group-icon"></span>
            <span class="app-tree__group-text">
                Group 1.2
            </span>
            </div>
            <div class="app-tree__item">
                <span class="app-checkbox">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">
                        <input name="ShowHYDSearch"
                               type="hidden"
                               value="false">
                    <span>
                        Item
                    </span>
                    </label>
                </span>
            </div>

            <div class="app-tree__item">
                <span class="app-checkbox">
                    <label for="cb-show-hyd">
                        <input checked="checked"
                               data-val="true"
                               id="cb-show-hyd"
                               type="checkbox"
                               value="true">
                        <input name="ShowHYDSearch"
                               type="hidden"
                               value="false">
                    <span>
                        Item
                    </span>
                    </label>
                </span>
            </div>

        </div>
    </div>
    <div class="app-tree__group  app-tree__group_opened">
        <div class="app-tree__group-container">
            <span class="app-tree__group-icon"></span>

           <span class="app-tree__group-text">
               Group 1
           </span>
        </div>

    </div>
    <div class="app-tree__group  app-tree__group_opened">
        <div class="app-tree__group-container">
            <span class="app-tree__group-icon"></span>

           <span class="app-tree__group-text">
               Group 1
           </span>
        </div>

    </div>
    <div class="app-tree__group app-tree__group_opened">
        <div class="app-tree__group-container">
            <span class="app-tree__group-icon"></span>

           <span class="app-tree__group-text">
               Group 1
           </span>
        </div>

    </div>


</div>