<link href="css/bootstrap.min.css" rel="stylesheet" />

<!--<link href="http://psw54-m.artgroup.local/Content/css/main.css" rel="stylesheet" />
<link href="http://psw54-m.artgroup.local/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

<link href="css/app.css" rel="stylesheet" />