<div class="app-table">
    <table>
        <thead>
        <tr>

            <th>Table header 1
                <span class="app-table__sortable glyphicon glyphicon-chevron-down"></span>
            </th>

            <th>Table header 2</th>

            <th>Table header 3
                <span class="app-table__sortable glyphicon glyphicon-chevron-up"></span>
            </th>

            <th>Table header 4</th>

        </tr>
        </thead>
    </table>
</div>
