    <div class="toolbar">
        <div class="toolbar__item toolbar__item_info">
            <span class="toolbar__item-icon itc itc-info"></span>
            <span class="toolbar__item-icon itc itc-info-2"></span>


            <div class="info-panel info-panel_user-info">
                <div class="info-panel__inner-wrapper">

                    <div class="info-panel__item">
                        <div class="info-panel__item-header">
                            Patient ID
                        </div>
                        <div class="info-panel__item-text">
                           admin
                        </div>
                    </div>

                    <div class="info-panel__item">
                        <div class="info-panel__item-header">
                            Date of birth
                        </div>
                        <div class="info-panel__item-text">
                            NYSmith
                        </div>
                    </div>

                    <div class="info-panel__item">
                        <div class="info-panel__item-header">
                            Patient info
                        </div>
                        <div class="info-panel__item-text">
                            NYSmith
                        </div>
                    </div>

                    <div class="info-panel__item">
                        <div class="info-panel__item-header">
                            First name
                        </div>
                        <div class="info-panel__item-text">
                            Walter
                        </div>
                    </div>

                    <div class="info-panel__item">
                        <div class="info-panel__item-header">
                            Last name
                        </div>
                        <div class="info-panel__item-text">
                            Haisenberg
                        </div>
                    </div>

                    <div class="info-panel__item info-panel__item_document-title">
                        Document title
                    </div>


                </div>
            </div>

        </div>
        <div class="toolbar__container">

            <div class="toolbar__item">
                <span class="toolbar__item-icon itc itc-original"></span>
            <span class="toolbar__item-text">
                Original
            </span>
            </div>

            <div class="toolbar__item">
                <span class="toolbar__item-icon itc itc-ocr"></span>
            <span class="toolbar__item-text">
                OCR
            </span>
            </div>


            <div class="toolbar__item">
                <span class="toolbar__item-icon itc itc-print"></span>
            </div>


            <div class="toolbar__item">
                <span class="toolbar__item-icon itc itc-export"></span>
                                <span class="toolbar__item-text">
                                    Export
                                </span>
            </div>


            <div class="toolbar__item">
                <span class="toolbar__item-icon itc itc-notes"></span>
            </div>

            <div class="toolbar__item">
                <span class="toolbar__item-icon itc itc-rotate-left-90"></span>
            </div>
            <div class="toolbar__item">
                <span class="toolbar__item-icon itc itc-rotate-right-90"></span>
            </div>

            <div class="toolbar__item">
                <span class="toolbar__item-icon itc itc-rotate-right-180"></span>
            </div>




            <div class="toolbar__item-group">
                <div class="toolbar__item">
                    <span class="toolbar__item-icon itc itc-rotate-left"></span>
                </div>
                <div class="toolbar__item">
                    <span class="toolbar__item-icon itc itc-rotate-right"></span>
                </div>

                <div class="toolbar__item">
                    <span class="toolbar__item-icon itc itc-zoom-plus"></span>
                </div>

                <div class="toolbar__item toolbar__item_active">
                    <span class="toolbar__item-icon itc itc-zoom-minus"></span>
                </div>

                <div class="toolbar__item">
                    <span class="toolbar__item-icon itc itc-brightnes-contrast"></span>
                </div>

            </div>


            <div class="toolbar__item">
                <span class="toolbar__item-icon itc itc-fit"></span>
            <span class="toolbar__item-text">
                Fit
            </span>
            </div>
        </div>






    </div>
