.dashboard-block {
  margin-bottom: @gap-dashboard;
  &:last-child {
    margin-bottom: 0;
  }
  &.dashboard-block_notifications {
    .dashboard-block__body {
      /*      max-height: 400px;
            overflow-y: auto;*/
      padding: 0;

      max-height: 100%;
      overflow-y: auto;
      height: auto;

      .app-notifications__body {
        /* max-height: 40vh;*/
        overflow-y: auto;
      }
    }
  }
  &.dashboard-block_notes {
    .app-notifications__item-collapse {

      right: 0;
    }
  }
}
.dashboard-block__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #2b3641;
  padding-left: 10px;
  height: 33px;
  align-items: center;
}
.dashboard-block__header-icon {
  color: @white-1;
  font-size: 16px;
  padding-right: 10px;
  display:none;
}
.dashboard-block__header-title {
  align-self: center;
  * {
    font-size: 17px;
    color: @white-1;
    font-family: @font-bold;
    padding: 0;
    margin: 0;
  }
}
.dashboard-block__header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  height: 100%;
}
.dashboard-block__header-action-icon {
  color: #fff;
  font-size: 12px;
  &_small {
    font-size: 7px;
  }
}
.dashboard-block__header-action {
  position: relative;
  display: flex;
  padding: 0 10px;
  height: 100%;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:last-child {
    &:after {
      display: none;
    }
  }

  &_has-a-button {
    padding: 0;
    &:after {
      display: none;
    }
  }
  &:after {
    content: "";
    height: 17px;
    width: 1px;
    background-color: #525761;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;

  }

  &.dashboard-block__header-action_hover {
    &.dashboard-block__header-action_hovered {
      .dashboard-block__header-action-input {
        display: block;
        z-index:1;
      }
      .dashboard-block__header-action-icon {
        position: absolute;
        right: 6px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 12px;
        height: 12px;
        color: #000;
        z-index:2;


      }
      .dashboard-block__header-action-clear {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        height: 9px;

        right: 25px;
        z-index: 10;
      }
    }
    /*    &:hover {
          .dashboard-block__header-action-input {
            display: block;
            z-index:1;
          }
          .dashboard-block__header-action-icon {
            position: absolute;
            right: 6px;
            top: 6px;
            color: #000;
            z-index:2;
          }
        }*/
    .dashboard-block__header-action-input {
      display: none;
      width: 300px;
    }
  }


}

.dashboard-block__header-action-clear {
  display: none;
  color: #000;
  font-size: 9px;
}
.dashboard-block__header-action-badge {
  position: absolute;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background: @theme-color;
  color: @white-1;
  text-align: center;
  font-size: 7px;
  padding-top: 1px;
  z-index: 10;
  left: 6px;
  top: 6px;
}
.dashboard-block__header-action-input {
  border-radius: 3px;
  position: absolute;
  right: -3px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: none;
  line-height: 0;
  padding: 3px 40px 3px 3px;
  height: 76%;
}
.dashboard-block__body {
  border: solid 2px @blue-1;
  border-top: none;
  /*padding: 15px;*/

  position: relative;
  min-height: 30px;
  /*max-height: 40vh;*/
  overflow-y: auto;
  /*height: 100%;*/


  .app-notifications {
    .app-notifications__item {
      /*padding: 15px 15px 15px 0;*/
    }
  }

}
.dashboard-block__footer {}
