@gap-dashboard: 15px;
.dashboard {
  position: relative;
  padding: @gap-dashboard;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100vh;
}
.dashboard__container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 100vh;
  width: 85%;
  justify-content: space-between;
  &.dashboard__container_menu {
    flex-grow: 0;
    height: auto;
    max-height: 50px;
    padding-bottom: @gap-dashboard;
  }
  &.dashboard__container_panel {
    max-width: 15%;
    width: 15%;
    min-width: 205px;
    margin-left: @gap-dashboard;
    &.dashboard__container_panel-collapsed {
      max-width: 45px;
      width: 45px;
      min-width: 0;
    }
  }
}
.dashboard-column {
  max-height: 100vh;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  &:first-child {
    padding-right: @gap-dashboard;
  }
}

.app-logo {
  text-align: center;
}
.user-info {
  color: #fff;
}
.user-info__name {}
.user-info__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.user-info__username {
  font-size: 11px;
}
.user-info__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-info__action {
  font-size: 25px;
  margin-right: @gap-dashboard;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &.user-info__action_logout {
    font-size: 12px;
  }
}