
.dashboard-listing {
  display: flex;
  flex-direction: column;
}
.dashboard-listing__item {
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-break: break-all;
  word-wrap: break-word;
  &:last-child {
    margin-bottom: 0;
  }
  * {
    &:first-child {
      margin-right: 30px;
    }
    &:last-child {
      margin-left: 30px;
    }
  }
  &:hover {
    background: #edeff4;
  }
}
.dashboard-listing__item-link {
  min-width: 60%;
  max-width: 60%;
  word-break: break-all;
  word-wrap: break-word;
  color: #2B3641;
}
.dashboard-listing__item-text {
  &.dashboard-listing__item-text_grow {
    flex-grow: 1;
  }
}
.dashboard-listing__item-date {
  width: 75px;
  min-width: 75px;
}
.dashboard-listing__item-id {
  width: 140px;
  min-width: 140px;
  text-align: left;
}