.dashboard-panel__section-title-collapsed {
  display: none;
  margin-bottom: 10px;
}

.dashboard-panel {
  width: 100%;
  background: #2b3641;
  position: absolute;
  bottom: @gap-dashboard*-1;
  top: @gap-dashboard*-1;
  right: 0;

  &.dashboard-panel_collapsed {

    /*HOTFIXES*/
    .col-xs-4_dashboard-panel_collapsed-fix {
      width: 100%;
      padding: 0;
    }
    /*HOTFIXES*/



    .dashboard-panel__body {
      padding: 0;
    }
    .dashboard-panel__header {
      min-height: 50px;
      position: relative;
      .app-logo {
        display: none;
      }
      .dashboard-panel__show-hide {
        width: 14px;
        height: 14px;
        ._absolute-centered;

        .dashboard-panel__show {
          display: inline;
        }
        .dashboard-panel__hide {
          display: none;
        }

      }
    }
    .dashboard-panel__user-section {
      .user-info__name,
      .user-info__username,
      .user-info__actions {
        display: none;
      }
      .user-info__avatar {
        width: 36px;
        height: 36px;
        margin: 0 auto;
      }
    }
    .dashboard-panel__section-header {
      justify-content: center;
      margin-bottom: 0;
      padding: 10px;
      cursor: pointer;

      .dashboard-panel__section-icon {
        margin-right: 0;
        font-size: 24px;
      }
    }
    .dashboard-panel__section {
      margin-bottom: 0;
      .dashboard-panel__section-title,
      .dashboard-panel__section-item {
        display: none;

      }

      &:hover {
        .dashboard-panel__section-header {
          background: #32414f;
        }
        .dashboard-panel__section-container {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 0;
          right: 100%;
          background: #32414f;

          min-width: 230px;
          padding: 0;

          .dashboard-panel__section-title-collapsed {
            display: block;
            font-size: 16px;
            padding: 5px 10px;
          }
        }
        .dashboard-panel__section-item {
          display: block;
          padding: 5px 10px;
          font-size: 12px;
          &:hover {
            background: @theme-color;
            text-decoration: none;
          }

        }
      }
    }
  }
}

.dashboard-panel__container {
}

.dashboard-panel__header {
  padding: @gap-dashboard;
  position: relative;
}

.dashboard-panel__user-section {
  padding: @gap-dashboard;
  background-color: #242e38;
}

.dashboard-panel__body {
  padding: @gap-dashboard;
}

.dashboard-panel__section {
  display: flex;
  flex-direction: column;
  color: @white-1;
  margin-bottom: 15px;
  position: relative;
}

.dashboard-panel__section-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  margin-bottom: 10px;
}

.dashboard-panel__section-icon {
  font-size: 30px;
  margin-right: 10px;
}

.dashboard-panel__section-title {
  font-size: 17px;
  word-wrap: break-word;
  word-break: break-word;
}

.dashboard-panel__section-body {

}

.dashboard-panel__section-item {
  font-size: 13px;
  cursor: pointer;
  padding-left: @gap-dashboard;
  color: #cfdce8;
  &:hover {
    text-decoration: underline;
  }
}

.dashboard-panel__show-hide {
  position: absolute;
  left: 15px;
  top: 37%;

  color: #fff;
  cursor: pointer;

  .dashboard-panel__show {
    display: none;
  }
  .dashboard-panel__hide {
    display: inline;
  }
}
