.app-grid {

  display: table;
  width: 100%;
  height: 100%;

  min-width: 960px;
  max-height: 100vh;

  .app-grid__column {

    display: table-cell;
    vertical-align: top;
    height: 100%;

    width: auto;
    position: relative;

    &.app-grid__column_full-width {
      //width: 100%;
      width: 100vw;
      padding: 0 15px;
    }
    &.app-grid__column_full-height {
      height: 100vh;
      max-height: 100vh;
    }
    &.app-grid__column_half-width {
      width: 50%;
    }
    &.app-grid__column_thumbs {
      padding-top: 25px;

      position: relative;

      min-width: 210px;
      max-width: 210px;
      width: 210px;

      &.app-grid__column_thumbs-none {
        min-width: 0;
        width: auto;


        .app-thumbs__container {
          &:empty{
            .app-thumbs {
              width: auto;
              .app-thumbs__list {
                padding: 0;
                margin: 0;
              }
            }
          }
        }

      }
    }

    &.app-grid__column_sidebar {
      background: #fff;

      width: 20%;
      min-width: 300px;
      max-width: 330px;
      padding: 0 15px;
      position: relative;

      box-shadow: 3px 0 4px #C4C4C4;
    }
  }

  .app-grid__column_sidebar_hidden {
    /*display: block;*/
    width: 20px;
  }

  .app-grid__column-section {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    .app-clearfix;
  }
}