.app-section {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 0;
  position: relative;
  .app-clearfix;
  &:last-child {
    margin-bottom: 0;
  }
  &.app-section_modal-search {
    ._background-gray;
    padding: 42px 30px 15px 20px;
    //hotfix
    min-height: 550px;
  }
  &.app-section_header {
    margin-top: 30px;
  }
  &.app-section_bottom {
    margin-bottom: 10px;
  }

  &.app-section_top {
    margin-top: 0;
  }

  &.app-section_sidebar-actions {
    .btn {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }


  &.app-section_patient-info {
    padding: 20px 15px;
    margin: 0;
    min-height: 115px;
    //.gradient_patient-info;
    background-color: @theme-color-2;
  }

  &.app-section_negative {
    width: auto;
    margin-left: -30px;
    margin-right: -29px;
  }
  &.app-section_document-info {
    /*height: 343px;*/
    .app-table {
      &.app-table_scrollable {
        max-height: 100%;
      }
    }
  }
  &.app-section_user-mapping-1 {
    min-height: 40px;
  }
  &.app-section_no-hints {
    height: 180px;
    font-size: 20px;
  }
  &.app-section_tree-filter {
    min-height: 20px;
  }
  &.app-section_app-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;




    .app-search {
      flex-grow: 2;
    }

    &:before,
    &:after {
      display: none;
    }
  }

  &.app-section_edit-document {
    min-height: 300px;
  }
}
.app-section_form {
  .app-section;
  margin-top: 5px;

  ul {
    padding-left: 0;
    li {
      list-style: none;
      margin-bottom: 10px;

      &:before {

        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;


        content: "\e013";
        font-size: 9px;
        color: @theme-color;
        margin-right: 5px;

      }
    }
  }

}