.adjustments-reset {
  padding: 0;
  margin: 0;
}

.app-clearfix {
  &:before {
    display: table;

    width: 100%;

    clear: both;
    content: " ";
  }
  &:after {
    display: table;

    width: 100%;

    clear: both;
    content: " ";
  }
}