.column {
  background: #ffffff;

  height: 100%;

  &.column_transparent {
    background: transparent;
  }
  &.column_document-view {
    .column_transparent;

  }


}

.column__section {
  display: block;
  width: 100%;

  margin-bottom: 15px;

  .app-clearfix;

  &.column__section_full-height {
    height: 100%;
  }
}