.wrapper {
  display: block;

  width: 100%;

  .app-clearfix;


  //MODS

  &.wrapper_full-screen {
    height: 100%;


    //temp
  }
  &.wrapper_dashboard{
    height: 100%;
    background: url("@{imgPath}/bg_dashboard.jpg") center center;
    background-size: cover;
    background-color: @white-1;
    .wrapper_fixed;
  }
}

.wrapper_fixed {
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
}

.wrapper_patient-search {
  width: 100%;
  height: 100%;
  display: block;
  background: url("@{imgPath}/bg_patient-search.jpg") center center;
  background-size: cover;
  .wrapper_fixed;
}

.wrapper_mpi {
  .wrapper_patient-search;
 }

.wrapper_mpi-merge {
  .wrapper_mpi;
  background: url("@{imgPath}/bg_mpi.jpg") center center;
}

.wrapper_error-page {
  .wrapper_mpi-merge;
}