/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);*/

@font-face {
  .fontFace('Roboto-Light', normal, 300, '@{fontPath}/roboto/Roboto-Light', 'Roboto-Light');
}

@font-face {
  .fontFace('Roboto-Regular', normal, 400, '@{fontPath}/roboto/Roboto-Regular', 'Roboto-Regular');
}

@font-face {
  .fontFace('Roboto-Medium', normal, 500, '@{fontPath}/roboto/Roboto-Medium', 'Roboto-Medium');
}

@font-face {
  .fontFace('Roboto-Bold', normal, 700, '@{fontPath}/roboto/Roboto-Bold', 'Roboto-Bold');
}