@app-font: "Roboto";

@font-light: "Roboto-Light";
@font-regular: "Roboto-Regular";
@font-medium: "Roboto-Medium";
@font-bold: "Roboto-Bold";

body, .app {
  font-family: @font-regular;
  background: @grey-1;

  height: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @font-regular;
}

div, span, label, input, button, a {
  font-family: @font-regular;
}

b {
  span {
    font-family: @font-bold;
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  margin: 5px 0;
  padding: 0;
}
p, .p {
  font-size: 1.4rem;
}
table {
  td,
  th {
    font-size: 1.4rem;
  }
}
[class*="col-"] {
  h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
  }
}

a {
  color: @theme-color;
  &:hover,
  &:active{
    color: lighten(@theme-color, 20%);
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    color: @theme-color;
    outline: none;
    text-decoration: none;
  }
}

.app-text {
  font-size: 1.2rem;
  font-style: italic;
  margin: 0;


  &.app-text_additional {
    color: #a7a9ac;
  }

  &.app-text_export {
    font-style: normal;
  }


  &.app-text_red {
    color: @theme-color;
  }

  &.app-text_large {
    font-size: 1.3rem;
  }
}


.text-ellipsize, ._text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._text-wrapped {
  word-break: break-all;
  white-space: normal;
  word-wrap: break-word;
}

.text-center {
  text-align: center;
}

._text_bold {
  font-family: @font-bold;
}

._text-color_orange {
  color: @theme-color;
}

._text-rotate-90 {
  transform: rotate(-90deg);
}

._text_crossout {
  text-decoration: line-through;
}



a.document-link {
  font-size: 18px;
}