.lobibox {


  .lobibox-header {
    .modal-header;
    min-height: 0;
    .lobibox-title {}
    .btn-close {

      font-size: 0px;
      color: transparent;
      .itc;

      &:before {
          // GET FROM fonts/itc/itc.less -> .itc-cross;
          content: "\e908";
        color: #000;
        font-size: 25px;
      }


      right: 30px;
      position: absolute;
      line-height: .5;
      margin-top: 0;
      width: 26px;

      &:hover {
        text-shadow: none;
      }

    }
  }
  .lobibox-body {
    .modal-body;

    display: block;

    .lobibox-icon-wrapper {
      display: none;
    }

    .lobibox-text-wrapper {
      display: block;

    }

  }
  .lobibox-footer {
    .modal-footer;
  }

  .lobibox-btn {
    border-radius: 0;
    &.lobibox-btn-yes {
      background-color: @theme-color;
      border-color: @theme-color;

      &:hover, &:focus {
        background-color: @theme-color;
        border-color: @theme-color;
      }
    }
    &.lobibox-btn-no {
      background-color: #272d39;
      border-color: #272d39;
      &:hover, &:focus {
        background-color: #272d39;
        border-color: #272d39;
      }
    }

  }
}



.lobibox-notify {

  background: @white-1;

  .lobibox-notify-body {
    padding-top: 5px;
  }

  &.lobibox-notify-success {
    border: none;
    background: @grey-3;
    color: @blue-1;

    &:hover {
      background: darken(@grey-3, 10%);
      color: @blue-1;
    }

    .lobibox-notify-body {
      .lobibox-notify-title {
        color: @green-2;
      }
    }

    .lobibox-notify-icon {
      color: @green-2;
    }
  }


  &.lobibox-notify-error {
    .lobibox-notify-success;

    .lobibox-notify-body {
      .lobibox-notify-title {
      color: @theme-color;
      }
    }
    .lobibox-notify-icon {
      color: @theme-color;
    }
  }

}

