
.itc-sharepoint-tree:before {
  content: "\e954";
}
.itc-sharepoint-calendar:before {
  content: "\e95e";
}
.itc-sharepoint-messages:before {
  content: "\e969";
}
.itc-sharepoint-clipboard:before {
  content: "\e96a";
}
.itc-sharepoint-document:before {
  content: "\e96b";
}
.itc-sharepoint-archive:before {
  content: "\e96c";
}
.itc-sharepoint-align:before {
  content: "\e96f";
}
.itc-sharepoint-w:before {
  content: "\e970";
}
.itc-back-3:before {
  content: "\e962";
}
.itc-cloud:before {
  content: "\e966";
}
.itc-cross-2:before {
  content: "\e967";
}
.itc-star-2:before {
  content: "\e960";
}
.itc-star-2-outer:before {
  content: "\e961";
}
.itc-reply:before {
  content: "\e95f";
}
.itc-message-3:before {
  content: "\e95d";
}
.itc-management:before {
  content: "\e95c";
}
.itc-document-edit:before {
  content: "\e95b";
}
.itc-exchange:before {
  content: "\e953";
}
.itc-logout:before {
  content: "\e959";
}
.itc-change-password:before {
  content: "\e95a";
}
.itc-cloud-question:before {
  content: "\e968";
}
.itc-pencil:before {
  content: "\e973";
}
.itc-search-2:before {
  content: "\e96e";
}
.itc-trash:before {
  content: "\e96d";
}
.itc-arrow-left-2:before {
  content: "\e955";
}
.itc-arrow-right-2:before {
  content: "\e956";
}
.itc-close:before {
  content: "\e957";
}
.itc-return:before {
  content: "\e958";
}
.itc-sort:before {
  content: "\e963";
}
.itc-envelope-opened:before {
  content: "\e964";
}
.itc-envelope:before {
  content: "\e965";
}
.itc-delete-document:before {
  content: "\e950";
}
.itc-add-document:before {
  content: "\e952";
}
.itc-sharepoint:before {
  content: "\e951";
}
.itc-message-2:before {
  content: "\e94f";
}
.itc-arrow-in-square-right:before {
  content: "\e94d";
}
.itc-message:before {
  content: "\e94e";
}
.itc-save:before {
  content: "\e94b";
}
.itc-cancel:before {
  content: "\e94c";
}
.itc-user-message:before {
  content: "\e948";
}
.itc-document-request:before {
  content: "\e949";
}
.itc-document-link:before {
  content: "\e94a";
}
.itc-do-not-apply-to-all:before {
  content: "\e947";
}
.itc-open-selected-files:before {
  content: "\e944";
}
.itc-merge-export-2:before {
  content: "\e946";
}
.itc-edit-2:before {
  content: "\e945";
}
.itc-merge-export:before {
  content: "\e911";
}
.itc-star:before {
  content: "\e943";
}
.itc-help:before {
  content: "\e93e";
}
.itc-hand:before {
  content: "\e93f";
}
.itc-fill-width:before {
  content: "\e940";
}
.itc-fill-height:before {
  content: "\e941";
}
.itc-apply-to-all:before {
  content: "\e942";
}
.itc-brightnes:before {
  content: "\e93c";
}
.itc-contrast:before {
  content: "\e93d";
}
.itc-user-2:before {
  content: "\e93b";
}
.itc-checkbox-sign:before {
  content: "\e93a";
}
.itc-checkbox-big:before {
  content: "\e939";
}
.itc-middle-checkbox-2:before {
  content: "\e938";
}
.itc-middle-checkbox2:before {
  content: "\e936";
}
.itc-middle-checkbox-big:before {
  content: "\e937";
}
.itc-middle-checkbox:before {
  content: "\e935";
}
.itc-edit-document:before {
  content: "\e934";
}
.itc-hide-tree-view:before {
  content: "\e90d";
}
.itc-show-tree-view:before {
  content: "\e925";
}
.itc-notice-2:before {
  content: "\e932";
}
.itc-user-medic:before {
  content: "\e933";
}
.itc-select-down:before {
  content: "\e930";
}
.itc-select-up:before {
  content: "\e931";
}
.itc-promt-alert:before {
  content: "\e92d";
}
.itc-promt-failed:before {
  content: "\e92e";
}
.itc-promt-success:before {
  content: "\e92f";
}
.itc-file:before {
  content: "\e92b";
}
.itc-user:before {
  content: "\e92c";
}
.itc-filter:before {
  content: "\e92a";
}
.itc-add-user:before {
  content: "\e900";
}
.itc-arrow-hide:before {
  content: "\e901";
}
.itc-arrow-left:before {
  content: "\e902";
}
.itc-arrow-right:before {
  content: "\e903";
}
.itc-back:before {
  content: "\e904";
}
.itc-back-2:before {
  content: "\e905";
}
.itc-bookreading:before {
  content: "\e906";
}
.itc-brightnes-contrast:before {
  content: "\e907";
}
.itc-cross:before {
  content: "\e908";
}
.itc-edit:before {
  content: "\e909";
}
.itc-export:before {
  content: "\e90a";
}
.itc-fit:before {
  content: "\e90b";
}
.itc-full:before {
  content: "\e90c";
}
.itc-info:before {
  content: "\e90e";
}
.itc-info-2:before {
  content: "\e90f";
}
.itc-merged-documents:before {
  content: "\e910";
}
.itc-mpi:before {
  content: "\e912";
}
.itc-notes:before {
  content: "\e913";
}
.itc-notice:before {
  content: "\e917";
}
.itc-ocr:before {
  content: "\e918";
}
.itc-open-file:before {
  content: "\e919";
}
.itc-original:before {
  content: "\e91a";
}
.itc-print:before {
  content: "\e91b";
}
.itc-rotate-left:before {
  content: "\e91c";
}
.itc-rotate-right:before {
  content: "\e91d";
}
.itc-zoom-minus:before {
  content: "\e926";
}
.itc-zoom-plus:before {
  content: "\e927";
}
.itc-tasklist:before {
  content: "\e929";
}
.itc-checkbox-checked:before {
  content: "\e91e";
}
.itc-tree-minus:before {
  content: "\e921";
}
.itc-tree-plus:before {
  content: "\e922";
}
.itc-tree-uncheck-all:before {
  content: "\e928";
}
.itc-document:before {
  content: "\e924";
}
.itc-search:before {
  content: "\e923";
}
.itc-dropdown-closed:before {
  content: "\e91f";
}
.itc-dropdown-opened:before {
  content: "\e920";
}
.itc-rotate-left-90:before {
  content: "\e914";
}
.itc-rotate-right-90:before {
  content: "\e915";
}
.itc-rotate-right-180:before {
  content: "\e916";
}