@font-face {
  font-family: 'itc';
  src:url('@{fontPath}/itc/itc.eot?wja7rv');
  src:url('@{fontPath}/itc/itc.eot?wja7rv#iefix') format('embedded-opentype'),
  url('@{fontPath}/itc/itc.ttf?wja7rv') format('truetype'),
  url('@{fontPath}/itc/itc.woff?wja7rv') format('woff'),
  url('@{fontPath}/itc/itc.svg?wja7rv#itc') format('svg');
  font-weight: normal;
  font-style: normal;
}

.itc, [class^="itc-"], [class*=" itc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'itc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
