/*
https://jira.artezio.com/browse/ITCV-1816
Aliases for icons in TASKBAR
*/
//@import "itc-icons";

.predefinedButtons {
  .itc;
  &.MasterPatientIndex {
    &:extend(.itc-mpi all);
  }
  &.SendLink {
    &:extend(.itc-document-link all);
  }
  &.SendPatientLink {
    &:extend(.itc-user all);
  }
  &.SendTextNotification {
    &:extend(.itc-user-message all);
  }
  &.UserManagement {
    &:extend(.itc-user all);
  }
  &.ShowUserNotes {
    &:extend(.itc-notes all);
  }
  &.SendFavorites {
    &:extend(.itc-star all);
  }
  &.EditDocument {
    &:extend(.itc-document-edit all);
  }
  &.EditPatient {
    &:extend(.itc-edit-2 all);
  }
  &.MoveDocument {
    &:extend(.itc-document-edit all);
  }
  &.Administration {
    &:before {
      //Rude import from bootstrap .glyphicon-cog
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      content: "\e019";
    }
  }
  &.Dashboard {
    &:before {
      //Rude import from bootstrap .glyphicon-th-large
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      content: "\e010";
    }
  }
  &.SendDocumentRequest {
    &:extend(.itc-document-request all);
  }
  &.OpenExternalButton {
    &:extend(.itc-help all);
  }
  &.HelpButton {
    &:extend(.itc-help all);
  }
  &.PatientInformation {
    &:extend(.itc-user all);
  }
  &.MovementsInformation {
    &:extend(.itc-info-2 all);
  }
  &.AddInformation {
    &:extend(.itc-info all);
  }
}

.last5icon {
  &:extend(.itc all);
  &:extend(.itc-file all);
}
