.app-multiselect {
  width: 100%;
  height: auto;
  max-height: 150px;
  overflow-y: auto;
  background: @grey-1;
  padding: 10px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      &:before {
        content: '';
        display: none;
      }
    }
  }
  .app-checkbox {
    label {
      font-weight: normal;
    }
    span {
       word-break: break-all;
      &:before {

      }
    }
  }
  &.app-multiselect_modal {
    max-height: 370px;
    padding: 0;
    ul {
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &.app-multiselect_background-white {
    background: @white-1;
  }

  &.app-multiselect_fixed-height {
    min-height: 160px;
    max-height: 390px;
    .app-checkbox {
      label {
        align-items: center;
        padding-left: 2px;
        &:hover {
          background-color: @grey-9;
        }
      }
    }
  }

}

.namespace*block__item_modificator {
  display: block;
}