.app-chart-global-container {
  width: 235px;
  right: 0;
  bottom: 0;
  position: fixed;
}

.app-chat__footer-text-collapsed {
  display: none;
}
.dashboard__container {
  &.dashboard__container_panel {
    .app-chart-global-container {
      bottom: @gap-dashboard*-1;
      width: 95%;
      left: 0;
      position: absolute;
    }

    &.dashboard__container_panel-collapsed {
      .app-chart-global-container {
        width: 45px;

        .app-chat__item {
          padding: 5px 0;
        }
        .app-chat__item-name {
          display: none;
        }
        .app-chat__item-avatar {
          margin: 0 auto;
        }
        .app-chat__footer {
          padding: 0 5px;
        }
        .app-chat__footer-text {
          display: none;
        }
        .app-chat__footer-text-collapsed {
          display: inline;
          color: @white-1;
        }
      }
    }
  }
}



.app-chat {
  position: relative;
  display: block;
  &.app-chat_dashboard {
    width: 95%;
    bottom: 0;
    position: absolute;
  }
}
.app-chat__container {
  position: relative;
  display: block;

  background: #364757;
  box-shadow: 3px -3px 3px #262F38;
}
.app-chat__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 317px;
  overflow-y: auto;
}
.app-chat__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background: #405060;
  }
}
.app-chat__item-name {
  font-size: 13px;
  color: #fff;
}
.app-chat__item-avatar {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #bababa url("@{imgPath}/avatar.png") center center;
  background-size: contain;

}
.app-chat__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px 2px 10px;
  background: #445b73;
  cursor: pointer;
}
.app-chat__footer-icon {
  font-size: 10px;
  color: #fff;
}
.app-chat__footer-text {
  font-size: 9px;
  color: #fff;
}

.app-chat__messageboxes {
  position: absolute;
  right: 105%;
  bottom: 10px;

}
.app-chat__messagebox {
  border: solid 1px #364757;
  border-radius: 4px 4px 2px 2px;
  overflow: hidden;
  width: 250px;
}
.app-chat__messagebox-header {
  background: #364757;
  font-size: 12px;
  font-family: @font-medium;
  color: #fff;
  padding: 10px 10px 5px 10px;
  min-height: 32px;
}
.app-chat__messagebox-content {
  justify-content: flex-end;

  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;


  background: #cad4de;
  height: 250px;
  padding: 5px;


}
.app-chat__messagebox-footer {
  display: flex;
  border-top: solid 1px #364757;
}
.app-chat__messagebox-textarea {
  width: 100%;

  textarea {
    width: 100%;
    border: none;
    resize: none;
    padding: 5px;
    font-size: 11px;
  }
}
.app-chat__messagebox-send {
  padding: 5px;
  min-width: 60px;
}
.app-chat__message {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 10px;
  flex-basis: auto;
  min-height: 30px;

  &.app-chat__message_from {
    flex-direction: row-reverse;
    .app-chat__message-text {
      border-radius: 4px 4px 0 4px;
      margin-left: 0;
      margin-right: 10px;
      &:before {
        left: 100%;
        border-width: 5px 0 0 8px;
        border-color: transparent transparent transparent #fff;
      }
    }
  }

}
.app-chat__message-avatar {
  flex-grow: 0;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  background: #bababa;
  border-radius: 50%;
}
.app-chat__message-text {
  background: #fff;
  border-radius: 4px 4px 4px 0;
  font-size: 11px;
  position: relative;
  padding: 8px;
  margin-left: 10px;
  max-width: 84%;
  word-wrap: break-word;
  white-space: normal;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100%;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 8px 0 0;
    border-color: transparent #fff transparent transparent;
  }
}
.app-chat__message-text-corner {
  position: absolute;
  top: 2px;
  right: 100%;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 8px 3px 0;
  border-color: transparent #fff transparent transparent;
}