.app-dropdown {
  &.dropdown {
    .btn {
      padding: 0;
      background-color: transparent;
      border: none;
      color: @black-1;

      .caret {
        border-top-color: @black-1;
      }
      &:active {
        box-shadow: none;
      }
    }

    .dropdown-menu {
      border-radius: 0;
      & > li {
        & > a {
          text-align: left;
          &:hover {
            background-color: @theme-color;
          }
        }
      }
      &.pull-right {
        right: -5px;
      }
    }

  }

  /*Mods*/

  &.app-dropdown_opened {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: @white-1;
      border-radius: 4px;
      z-index: 0;

      top:0;
      left:0;
    }
    .app-dropdown__items {
      display: block;
    }
    .dashboard-block__header-action-icon {
      color: @black-1;
      z-index: 5;
    }

    &.app-dropdown_dashboard {
      .app-dropdown__caret {
        color: @black-1;
        z-index: 5;
      }
    }
  }

  &.app-dropdown_red {
    .btn {
      padding: 0;
      background-color: @theme-color;
      border: none;
      color: @white-1;
      .caret {
        border-top-color: @white-1;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
  &.app-dropdown_dashboard {
    display: flex;
    align-items: center;
    .app-dropdown__caret {
      color: @white-1;
      font-size: 7px;
      margin-left: 2px;
    }
  }
}

.app-dropdown__caret {
  font-size: 12px;
  vertical-align: baseline;
}

.app-dropdown__content {
  display: flex;
}
.app-dropdown__items {
  display: none;
  position: absolute;
  width: 200px;
  background: #fff;
  z-index: 10;
  top: 88%;
  right: 0;
  border-radius: 4px;
  overflow: hidden;


}
.app-dropdown__item {
  padding: 5px 10px;
  &.app-dropdown__item_selected {
    font-weight: 700;
  }
  &:hover {
    background: #eaeaea;
  }
}