.app-icon {
  color: @theme-color;



  &.app-icon_small {
    font-size: 14px;
  }
  &.app-icon_middle {
    font-size: 18px;
  }
  &.app-icon_large {
    font-size: 20px;
  }



}

a {
  .itc,
  .glyphicon {
    margin-right: 5px;
  }
}
