.app-table-wrapper {
  &.app-table-wrapper_pointer {
    .app-table {
      tbody {
        tr {
          cursor: pointer;
        }
      }
    }
  }
}
.app-table_background-white {
  .app-table {
    background: @white-1;
    padding-left: 0;
    padding-right: 0;
    table {
      background: @white-1;
      tr {
        &:hover {
          td {
            background-color: @white-1;
          }
        }
        td, th {
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.app-table_fixed-height {
  overflow: auto;
  height: 388px;
}
.app-table_fixed-height-relative {
  overflow: auto;
  max-height: 350px;
}
.app-table {
  float: left;
  width: 100%;
  padding: 15px;
  background: #dddddd;
  table-layout: fixed;

  table {
    width: 100%;
    background: @grey-1;
    font-family: @font-light;

    td,th {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 1.3rem;
    }
    th {
      font-family: @font-bold;
      color: @grey-2;
      background-color: transparent;
      padding-bottom: 20px;

    }
    tr {
/*      &:first-child {
        td {
          padding-top: 0;
        }
      }*/
      /*      &:nth-child(even) {
              td {
                background-color: #d6d7d7;
              }
            }*/
      td {
        padding-top: 5px;
        padding-bottom: 5px;

      }
      &:hover {
        td {
          background-color: @grey-9;
        }
      }

      &.patient-selected {
        background-color: transparent;
        td {
          background-color: @grey-4;
        }
      }

    }

    tfoot {
      tr {
        td {
          font-family: @font-bold;
          color: @grey-2;
          background-color: transparent;
          padding-bottom: 15px;
        }
      }
    }

  }

  ._text-ellipsis {
    max-width: 120px;
    display: block;
  }

  &.app-table_recipients {
    padding: 0;
    max-height: 290px;
    table {
      tr {
        th, td {
          width: 20%;

          &.app-table__item_has-checkbox {
            width: 1%;
          }
        }
      }

    }
    &.app-table_recipients-head {
      padding-right: 21px;
    }
  }

  &.app-table_second-child {
    background: transparent;
  }

  &.app-table_full-width {
    tbody {
      tr {
        td {
          &:first-child {
            padding-left:  15px;
          }
          &:last-child {
            padding-right:  15px;
          }
        }
      }
    }
    thead {
      tr {
        th {
          &:first-child {
            padding-left:  15px;
          }
          &:last-child {
            padding-right:  15px;
          }
        }
      }
    }
    ._actions {
      width: 6%;
    }
  }

  &.app-table_tablet {
    thead {
      tr {
        th {
          font-size: 18px;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 18px;
        }
      }
    }
    .app-table__item_id {
      width: 200px;
    }
    .app-table__item_archive {
      width: 120px;
    }
    .app-table__item_checkbox {
      width: 40px;
      vertical-align: middle;
    }
  }

  &.app-table_hovered {

      tbody {
        tr {
          &:hover {
            td {
              background-color: @grey-9;
            }
          }
        }
      }
  }

  &.app-table_background-white {
    table {
      background-color: @white-1;
    }
    background-color: @white-1;
    th {
      background-color: @white-1;
    }

  }

  &.app-table_row-pointer {
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }

  &.app-table_scrollable {
    max-height: 200px;
    height: 100%;
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 15px;
    table {

      table-layout: fixed;
    }
  }
  &.app-table_scrollable-header {
    padding: 5px 30px 5px 15px;
    table {
      table-layout: fixed;
      thead {
        tr {
          th {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  &.app-table_dashboard {
    padding: 5px 0;
    background: transparent;
    float: none;
    table {
      background: transparent;
      tr {
        td {
          padding: 5px;
          &:first-child {
            padding-left: 15px;
          }
        }
        &:hover {
          td {
            background-color: #edeff4;
          }
        }
      }
    }
  }
  ._align-to-controls {
    padding-left: 15px;
    display: inline-block;
  }

  /*OK STYLES OVERRIDES*/
  &.ko-grid {
    table {
      border:none;
      table-layout: fixed;
    }

    tfoot {
      tr {
        td {
          font-family: @font-bold;
          color: @grey-2;
          background-color: transparent;
          padding-bottom: 15px;
        }
      }
    }
    tbody {
      td {
        word-wrap: break-word;
      }
    }
    td, th {
      border: none;
      padding: 2px 10px;
      text-align: left;
      &._actions {
        ._actions;
      }
    }
    th {
      font-family: @font-bold;
      color: @grey-2;
      background-color: transparent;
      padding-bottom: 15px;
    }
    td {
      &:first-child {

      }
      a,
      .viewUserLink,
      .viewGroupLink {
        color: @theme-color;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }



  &.app-table_light {
    background: @white-1;
    table {
      background: @white-1;
      thead {
        th {
          padding: 5px;
          color: #a7a9ac;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
            /*text-align: right;*/
          }
        }
      }
      tbody {
        tr {
          &:hover {
            td {
              background: none;
            }
          }
        }
        td {
          /*border-top: solid 1px #eee;*/
          padding: 5px;
          color: @black-1;
          font-size: 14px;
          word-break: break-all;
          min-width: 150px;
          vertical-align: top;
          &:first-child {
            padding-left: 0;
            min-width: 0;
          }
          &:last-child {
            padding-right: 0;
            /* text-align: right;*/
          }
        }
      }
    }

  }

  ._title-red{
    color: @theme-color;
    font-weight: 700;
  }
  .app-table__item_has-checkbox {
    width: 21px;
  }
  .app-table__item_bold {
    font-family: @font-bold;
    * {
      font-family: @font-bold;
    }
  }




}

/*colors*/
@table-head-icon: @white-1;
/*colors end*/
.app-table__head {}
.app-table__head-icon {
  color: @table-head-icon;
  border: none;
  font-size: 16px;

  &.app-table__head-icon_favorite-red {
    color: @theme-color;
  }
  &.app-table__head-icon_favorite-white {
    color: @white-1;
  }
}



 .app-table__sortable {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   cursor: pointer;
 }
.app-table__sortable-icon {
  font-size: 8px;
  color: @grey-2;
  padding-left: 4px;
  top: auto;
}
.modal {
  .app-table {
    &.app-table_light {
      tbody {
        td {
          min-width: 0;
        }
      }
    }

    table {
      th {
        padding-top: 0;
        font-size: 13px;
        vertical-align: top;
      }
    }

  }
}
._actions {
  width: 6%;
  text-align: center;
  word-break: keep-all;
  white-space: nowrap;
}
.documentNotes {
  .app-table {
    td, th {
      padding-left: 10px;
    }
  }
}
.ko-grid .ko-pageSize .selected,
.ko-grid .ko-pager .selected {
  background-color: #ffffff;
  color: #272d39;
}
.ko-grid .ko-pageSize li,
.ko-grid .ko-pager li {
  float: left;
  padding: 0 5px;
  cursor: pointer;
  font-weight: 700;
  color: @theme-color;

  min-width: 20px;
  text-align: center;
}
.app-table__pager {
  width: 100%;
  float: left;
  margin-top: 20px;
  .ko-pager {
    ul {
      margin: 0;
      padding: 0;
    }
  }

  .ko-pageSize {
    ul {
      margin: 0;
      padding: 0;
    }
  }
}
.app-table__action {
  font-size: 18px;
  color: @theme-color;
  cursor: pointer;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
/*
  &:not(:first-child) {
    margin-left: 5px;
  }
*/
}
/*.app-table__cbx {
  width: 35px;
}*/


table {
  td {
    vertical-align: top;
  }
}