.app-datepicker {

}

.app-daterange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.app-daterange__control {
  max-width: 140px;
}



.app-daterange__label {
  font-size: 14px;
  font-weight: 400;
  padding: 0 5px 0 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

}