.app-sidebar {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
/*  align-items: stretch;
  align-content: stretch;*/
}

.app-sidebar__inner-wrapper {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}


.app-sidebar__section-holder {

  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

}

.app-sidebar__section {
  position: relative;
  &.app-sidebar__section_full-height {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding-top: 10px;
    margin-bottom: 10px;
    .flexbox-item-grow;
  }

  &.app-sidebar__section_bottom {
    padding-bottom: 10px;
  }
  &.app-sidebar__section-bottom-absolute {
    position: absolute;
    bottom: 15px;
    .btn {
      margin-right: 15px;
      &:last-child {

        margin-right: 0;
      }
    }
  }
  &.app-sidebar__section_patient-info {
    margin: 0 -15px;
  }
  &.app-sidebar__section_tabs {
    margin: 0 -15px;
    &:after {
      content: '';
      height: 1px;
      width: 100%;
      display: block;
      bottom: 3px;
      position: absolute;
      z-index: 2;
      background: @tab-treeview_border-color;
    }
  }
 }

.app-sidebar__section-divider {
  margin: 10px -15px 0;
  height: 1px;
  background: #f2f2f2;
  box-shadow: 0 0 2px #efefef;
  &.app-sidebar__section-divider_bold {
    background: #ced2d7;
    height: 6px;
  }

}

.app-sidebar__section-half {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app-sidebar__controls {
  position: absolute;
  z-index: 999;

  color: @white-1;
  font-size: 24px;

  top: 20px;
  right: 0;
}

.app-sidebar__controls-icon {
  cursor: pointer;
}

.app-sidebar_hide {
  display: inline-block;

  color: #fff;
  .app-sidebar__controls-icon {
    font-size: 14px;
  }
}

.app-sidebar_show {
  right: 0;
  position: absolute;
  display: block;
  .app-sidebar__controls-icon {
    padding: 15px 0;
    .gradient_sidebar-controls;
  }
}

.flexbox-item-grow
{
  flex: 1;
}

.app-sidebar__back-to {
  font-size: 12px;
  color: @white-1;
  cursor: pointer;
}