._checker_indeterminate {
  color: transparent;
  background: @theme-color;
  width: 6px;
  height: 6px;
  min-width: 6px;
  display: block;

}
._checker_checked {
  content: "\e93a";
}

//From .itc-star-2
._checker_checked-star {
  content: "\e960";
}
._checker_checked-star-indeterminate {
  content: "\e961";
}

._checker {
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: #fff;
  border: solid 1px #8f9294;
  border-radius: 2px;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

._checker-before {
  font-family: "itc";
  position: relative;
  content: " ";
  font-size: 12px;
  width: 16px;
  min-width:16px;
  height: 16px;
  color: @theme-color;
  text-align: center;
}


.app-checkbox {
  label, .control-label {
    font-size: 14px;
    font-weight: normal;
    display: flex;
    margin-bottom: 0;
    input[type="checkbox"] {
      margin: 0;
      display: none;
      &:checked {
        ~ span:before {
          ._checker_checked;
        }
      }

      /*indeterminate state*/
      &:indeterminate {
        & ~ span {
          &:before {
            ._checker_indeterminate;
          }
        }
      }
    }
    span {
      ._checker;
      &:before  {
        ._checker-before;
      }
    }
    p {
      margin-left: 5px;
      margin-bottom: 0;
    }
  }

  &.app-checkbox_select-all {
    display: block;
    /*width: 100px;*/
    margin-top: 10px;
    padding-left: 10px;
    p {
      font-weight: 300;
    }
  }
  &.app-checkbox_hidden {
    span {
      display: none;
    }
  }
  &.app-checkbox_show-favorites {
    margin: 0 0 10px 10px;
    cursor: pointer;
    label {
      p {
        color: @theme-color;
        font-family: @font-bold;
        margin-left: 10px;
      }
    }
  }
  &.app-checkbox_star {
    &.app-tree__item-icon-star {
      padding: 0;
      label, .control-label {
        display: inline-block;
      }
    }

    cursor: pointer;
    label, .control-label {
      input[type="checkbox"] {
        &:checked {
          & ~ span {
            &:before {
              ._checker_checked-star;
            }
          }
        }

        /*indeterminate state*/
        &:indeterminate {
          & ~ span {
            &:before {

              background: @theme-color;
              /*content: "\e935";*/
              width: 2px;
              height: 2px;
              min-width: 2px;
              top: 2px;
              position: relative;
              align-self: center;
            }
            &:after {
              ._checker_checked-star-indeterminate;
              color: @theme-color;
            }
          }
        }
      }
      span {
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 19px;
        border: none;
        &:before {
          position: relative;
          font-size: 16px;
          height: 19px;
          z-index: 2;
          margin-right: 0;
        }
        &:after  {
          ._checker-before;
          color: @white-1;
          font-size: 16px;
          top: 0;
          left: 0;
          position: absolute;
          height: 19px;
          ._checker_checked-star;
        }
      }
    }
  }
  &.app-checkbox_single {
    label,
    .control-label {
      width: 16px;
      float: left;
      margin-right: 5px;
    }
  }
}

.app-checkbox__icon-favorite {
  margin: 0 5px 0 5px;
  font-size: 14px;
  top: 2px;
}

.app-checkbox_tree {
  position: relative;
  padding-left: 18px;
  margin-right: 5px;
    input[type="checkbox"] {
      margin: 0 0 0 -18px;
      opacity: 0;
      z-index: 100;
      position: absolute;
      width: 16px;
      height: 16px;
      border: none;
      &:checked {
        ~ .app-checkbox__checker:before {
          ._checker_checked;
          color: @theme-color;

        }
      }

      /*indeterminate state*/
      &:indeterminate {
        & ~ .app-checkbox__checker {
          &:before {
            ._checker_indeterminate;
          }
        }
      }
    }

    .app-checkbox__checker {
      ._checker;
      position: absolute;
      z-index: 1;
      margin-left: -18px;
      top: 0;
      left: 18px;
      &:before {
        ._checker-before;
      }
    }

  .app-checkbox_star {

    label,
    .control-label {
      span {
        &:before {}
        &:after {
          color: @grey-2;
        }
      }
    }

  }

}



/*Modifications*/

.app-tree__item_selected {
  .app-checkbox__checker {
    &:before {
     /* background-color: #fff;*/
    }
  }
}

.app-thumbs {
  .app-checkbox {
    span {
      background-color: #fff;
      &:before {
        margin-right: 0;
        left: 0;
      }
    }
  }
}

.app-tree {
  .app-checkbox {
  padding: 0 0 0 20px;
    span {
        margin-left: 3px;
      &:before {
        top: 0;
        margin-right: 3px;
      }
    }
  }
}

.archiveCheckBoxContainer {
  .app-checkbox {
    span {
      margin-left: 0;
    }
  }
}

.search-panel {
  .app-checkbox {
    label {
      margin-bottom: 0;

    }

  }
}

.app-multiselect {
  .app-checkbox {
    label {
      cursor: pointer;
    }
    span {
      margin-left: 0;
      background-color: @white-1;
    }
    p {
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  &.app-multiselect_background-white {
    .app-checkbox {
      span {
        background-color: @grey-3;
      }
    }
  }
}

/* App checkbox for the multiselect */

.multiselect-container {
  &>li {
    padding: 0;
    &>a {
      padding: 0;
      &>label {
        padding: 0;
        margin: 0;
        &.checkbox {
          padding: 5px 0;
          margin: 0;
          position: relative;
          width: 100%;
        }
      }
    }
  }
  li {
    position: relative;
    &:before {
      ._checker;
      content: " ";
      position: absolute;
      top: 0;
      left: 5px;
      bottom: 0;
      margin: auto;
    }
    a {
      font-size: 14px;
      font-weight: normal;
      display: flex;
      margin-bottom: 0;

      &:before {
        font-family: "itc";
        display: block;
        position: relative;
        content: " ";
        font-size: 12px;
        color: #c32b14;
        text-align: center;
        width: 16px;
        height: 16px;
        top: 0;
        bottom: 0;
        margin: auto 15px auto auto;
        left: 6px;
      }
      label {
        &.checkbox {
          input[type="checkbox"]{
            display: block;
            z-index: 1000;
            position: absolute;
            opacity: 0;
            width: 16px;
            height: 16px;
            left: -8px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }
    &.active {
      a {
        &:before {
          ._checker_checked;
          color: @theme-color;
        }
        label {
          &.checkbox {

          }
        }
      }
    }
  }



}

.search-panel__form-header-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .app-checkbox {
    margin-right: 10px;
    position: relative;

    span {
      &:before {
      }
      background: #e4e4e4;
    }
  }
}