.app-notifications {}
.app-notifications__badge {
  font-size: 35px;
  position: relative;
  text-align: right;
  color: @theme-color;
  cursor: pointer;
  &.app-notifications__badge_page {
    position: absolute;
    left: 15px;
    top: 17px;
    z-index: 1;
    .app-notifications__badge-digit {
      position: absolute;
      top: 10px;
      left:0;
      width: 35px;
      margin-left:auto;
      margin-right:auto;
      text-align: center;
      background: transparent;
      font-size: 14px;
      height: auto;
    }
  }
}
.app-notifications__badge-icon {
  position: relative;
}

.app-notifications__badge-digit {
  font-size: 8px;
  position: absolute;
  top: -50%;
  background: @theme-color;
  left: -50%;
  width: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 13px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50%;
}

/*MODIFICATIONS*/

.app-grid {
  .app-notifications__badge {
    color: @white-1;
    display: inline-block;
    font-size: 12px;
  }
}

/*NOTIFICATIONS MODAL*/

@bg_unread-item: @yellow-3;

.app-notifications__item-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


.app-notifications__item-icon {
  color: #2B3641;
  flex-grow: 0;
  margin-right: 5px;
}

.app-notifications__item-title {
  font-family: @font-medium;
  font-size: 16px;
  color: #2B3641;
  flex-grow: 1;

  align-self: flex-start;

  word-break: break-all;
  word-wrap: break-word;

  line-height: 1;
}

.app-notifications__item-date {
  text-align: right;
  font-size: 14px;
  color: @grey-2;
  min-width: 160px;
}

.app-notifications__item-footer {
  padding-top: 10px;
  h3 {
    font-size: 14px;
    font-family: @font-medium;
  }
}


.app-notifications__body {}
.app-notifications__footer {
  padding: 10px 0;
}


.app-notifications__item-text {
  font-size: 14px;
  font-family: @font-regular;
  padding: 0;

  white-space: pre-wrap;
}

.dashboard {
  .app-notifications__item {
    &:hover {
      background: #edeff4;
    }
    &.app-notifications__item_opened {
      background: #edeff4;
    }
  }
}

.app-notifications__item {
  display: block;
  max-height: 150px;
  overflow: hidden;
  padding: 20px;

  position: relative;
  border-bottom: solid 1px @grey-1;

  &:hover {
    background: @grey-3;
  }

  ._show-on-opened {
    display: none;
  }
  .app-notifications__item-body {
    .app-notifications__item-text {
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 39px;
      max-width: 100%;
      white-space: nowrap;
    }
  }

  .app-notifications__item-footer {
    display: none;
  }

  /*OPENED STATE*/
  &.app-notifications__item_opened {
    max-height: 100%;
    background: @grey-3;
    .app-notifications__item-body {
      .app-notifications__item-text {
        height: auto;
        overflow: visible;
        max-height: 100%;
        word-wrap: break-word;
        white-space: pre-line;
      }
    }
    .app-notifications__item-footer {
      display: block;
    }
    .app-notifications__item-info {
      max-height: 100%;
    }
    ._show-on-opened {
      display: inline-block;
    }
  }
  /*OPENED STATE END*/
  .app-icon_badge {
    display: none;
  }
  &.app-notifications__item_unread {
    .app-icon_badge {
      display: inline;
    }
  }
}

.app-notifications__item-delete {
    position: absolute;
    right: 2px;
    top: 1px;
    font-size: 12px;
    cursor: pointer;
    color: @orange-1;
}

.app-notifications__item-collapse {
  .app-notifications__item-delete;
  right: 20px;
}

.app-notifications__item-author {
  font-family: @font-medium;
  margin-top: 10px;
  * {
    font-family: @font-medium;
  }
}

.app-notifications__item-info {
    word-wrap: break-word;
    word-break: break-all;
  max-height: 40px;
  overflow: hidden;
}

.app-notifications__item-info-value {
  font-family: @font-medium;
  * {
    font-family: @font-medium;
  }
}

.app-notifications__item-document-classes {
  ul {
    li {
      list-style-type: disc;
      color: @theme-color;
      span {
        color: @black-1;
      }
    }
  }
  .app-notifications__item-case-number {
    padding-left: 30px;
  }
}

.app-notifications__item-document-list {
  padding-top: 5px;
  columns: 2 auto;
  * {
    white-space: nowrap;
    min-width: 100%;
    display: inline-block;
  }
  a {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50%;

    &.app-notifications__document-list-item {
      &:before {
        content: " ";
        display: inline-block;
        width: 4px;
        height: 4px;
        background: @theme-color;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 5px;

      }
    }
  }
}

.app-notifications__item-links-count {
  font-size: 14px;
  color: @grey-2;
  margin-right: 10px;
}
.app-notifications__item-links-icon {
  font-size: 12px;
  color: @grey-2;
}

.app-notifications__item-file-list-icon{
  font-size: 12px;
  margin-right: 5px;
  color: @grey-2;
}


