.app-error {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.app-error__container {
  position: absolute;
  width: 250px;
  height: 20%;
  min-height: 200px;
  max-height: 350px;
._absolute-centered;
}
.app-error__title {
  text-align: center;
  font-size: 22px;
  font-family: @font-bold;
  font-weight: 700;
}
.app-error__icon {
  text-align: center;
  font-size: 80px;
  color: @theme-color;
}

.app-error__message {
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
}

.app-error__body {
  ._vertical-centered-children;
}

