.app-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &.app-nav_dashboard {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    .app-nav__item {
      display: flex;
      align-items: center;
      padding: 5px 0;
      a {
        text-decoration: none;
      }
    }

    .app-nav__item-link {
      text-decoration: none;
      font-size: 16px;
      line-height: 15px;
      color: @white-1;
    }
    .app-nav__item-icon {
      color: @white-1;
      font-size: 17px;
      margin-right: 5px;
    }

  }

}
.app-nav__item {
padding: 0 10px;
  font-weight: 700;
  &.app-nav__item_active {
    a {
      color: @black-1;
      text-decoration: underline;
    }
  }
}