.app-messages {
  display: flex;
  flex-direction: row;
  position: relative;
  color: @theme-color;
  align-items: center;
}

.app-messages__icon {
  font-size: 17px;
  position: relative;
}

.app-messages__icon-count {
  position: absolute;
  left: 0;
  top: 5px;
  color: @theme-color;
  font-size: 10px;
  width: 91%;
  text-align: center;
}

.app-messages__label {
  padding: 0 0 0 5px;
}


/*KO VALIDATION MESSAGES*/
.customValidationMessage {}
.app-datepicker {
  .customValidationMessage {
    position: absolute;
  }
}

.form-group {
  &.form-group_app-table {
    .error {
      position: absolute;
    }
  }
}