.app-textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.app-textarea__label {
padding-right: 10px;
  font-size: 16px;
  font-family: @font-bold;
}
.app-textarea__text {
  width: 100%;
  textarea {
    background-color: @grey-7;
    min-height: 150px;
    border: none;
    width: 100%;
    color: @grey-12;
    resize: none;
    padding: 9px 16px;

    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }
}
