.app-thumbs {
  width: 100%;
  overflow-y: auto;
  position: relative;

  height: 100%;

  display:flex;
  flex-direction: column;

  /*padding-top: 50px;*/


  .app-thumbs__container {
    height: 100%;
    width: 100%;

    overflow: auto;
    margin-top: 60px;
  }

  .app-thumbs__list {
    width: 100%;
    padding: 0 10px;
    .thumb {
      float: none;
      margin: 0 auto !important;
      position: relative;
      clear: both;
      img {
        &.lazy {
          float:none;
        }
      }

    }

    li {
      list-style: none;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.app-thumbs__thumb-caption {
  max-width: 120px;
  word-break: break-all;
}

.app-thumbs__thumb-caption-universal {
  max-width: 120px;
  word-break: break-all;
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;

  &:empty {
    display: none;
  }

}

.app-thumbs__thumb-date {
  word-break: break-all;
  display: inline-block;
}
.app-thumbs__thumb-time {
  word-break: break-all;
  display: inline-block;
}
.app-thumbs__thumb-document-title {
  word-break: break-all;
  display: inline-block;
}
.app-thumbs__thumb-user-credentials {
  word-break: break-all;
  display: inline-block;
}



.app-thumbs__thumb-divider {
  width: 100%;
  height: 2px;
  background: @grey-4;
  margin-bottom: 7px;
  display: block;
}

.app-thumbs__pager {
  text-align: center;
  width: 100%;
  padding: 0 0 0 10px;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  & > * {
    &:first-child {
      margin-bottom: 10px;
    }
  }
}

.app-thumbs__pager-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 0;
  width: 84%;
  flex-grow: 1;
  &.app-thumbs__pager-container_switcher {
    justify-content: flex-end;
  }
}
.app-thumbs__pager-container-switcher {
   /*align-self: flex-start;*/
   width: 62px;

 }
.app-thumbs__pager-container-star {
  width: 16px;
  height: 16px;
  margin-top: -6px;
}
.app-thumbs__pager-container-pager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  align-self: flex-end;
}

.app-thumbs__pager-container-checkbox {
  align-self: center;
  margin-right: 15px;
}
/*.app-thumbs__pager {
  &#pagerContainerRight{
    .app-thumbs__pager-container {
      &.app-thumbs__pager-container_pages {
        align-self: flex-start;
      }
    }
  }
}*/


.app-thumbs__pager-pages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.app-thumbs__pager-input {
  width: 50%;
  padding: 0 0 0 3px;
  background: #eeeeee;
  height: 17px;
  line-height: 1;
  font-size: 14px;
  font-family: @font-bold;
  border: none;
  outline: none;
  &:focus,
  &:active,
  &:hover {

    outline: none;
    box-shadow: none;
  }
}
.app-thumbs__pager-arrow {
  color: @theme-color;
  cursor: pointer;

  min-width: 14px;
  height: 16px;
}


.app-thumbs__thumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.app-thumbs__thumb-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-thumbs__thumb-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-thumbs__thumb-image {
  min-width: 120px;
  position: relative;
  border: solid 2px @white-1;
  height: 174px;

  display: flex;
  align-items: center;
  &.app-thumbs__thumb-image_selected {
    border-color: @theme-color;
  }

  &.app-thumbs__thumb-image_video {
    &:before {
      content: '';
      background: url("@{imgPath}/bg_thumb-video.png") center center;
      background-size: cover;

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  &.app-thumbs__thumb-image_cda {
    &:before {
      content: '';
      background: url("@{imgPath}/bg_thumb-cda.png") center center;
      background-size: cover;

      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  img {
    margin: 0 !important;
    min-width: 120px;
    max-height: 170px;

    /*width: 100%;
    height: 100%;*/
   /* min-height: 140px;*/

    cursor: pointer;
    &.lazy {
      &.selected {
        border-color: @theme-color;
      }
    }
    &.selected {
      border-color: @theme-color;
    }
  }
}
.app-thumbs__thumb-page-number {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: -6px;
}
.app-thumbs__thumb-checkbox {
  margin-top: 5px;
}


.app-thumbs__thumb-favorite {
  text-align: center;
  padding-top: 5px;
  span {
    cursor: pointer;
  }

  .app-thumbs__thumb-favorite-icon {
    color: @white-1;
    &.app-thumbs__thumb-favorite-icon_active {
      color: @theme-color;
    }

  }
}