@loader-color_main: @theme-color;

@loader-color_1: @loader-color_main;
@loader-color_2: lighten(@loader-color_main, 10%);
@loader-color_3: lighten(@loader-color_main, 20%);
@loader-color_4: lighten(@loader-color_main, 30%);
@loader-color_5: lighten(@loader-color_main, 40%);
@loader-color_6: lighten(@loader-color_main, 45%);
@loader-color_7: lighten(@loader-color_main, 50%);
@loader-color_8: lighten(@loader-color_main, 55%);

@el-position_1: 0em -2.6em 0em 0em;
@el-position_2: 1.8em -1.8em 0 0em;
@el-position_3: 2.5em 0em 0 0em;
@el-position_4: 1.75em 1.75em 0 0em;
@el-position_5: 0em 2.5em 0 0em;
@el-position_6: -1.8em 1.8em 0 0em;
@el-position_7: -2.6em 0em 0 0em;
@el-position_8: -1.8em -1.8em 0 0em;

.app-loader {
  font-size: 6px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: loading .7s infinite ease;
  transform: translateZ(0);

  &.app-loader_dashboard {
    font-size: 14px;
  }

}

.app-loader__wrapper {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;

  .app-loader {
    margin: 0 auto;
    ._absolute-centered;
  }
}


.document-viewer__document {
  .app-loader__wrapper {
   /* background: rgba(255,255,255,.7);*/
  }
}

.qtip-default {
  .app-loader__wrapper {
    min-height: 45px;
    min-width: 50px;
    position: relative;

  }
}

.app-thumbs__thumb-image{
  .app-loader__wrapper {
    /*Height fix*/
    height: 170px;
  }
}
.app-thumbs__thumb-image,
.document-viewer__container {
  .app-loader {
    ._absolute-centered;
  }
}

.modal_notifications {
  .app-loader__wrapper {
    position: fixed;
  }
}

@keyframes loading {
  0%,
  100% {
    box-shadow:
    @el-position_1 @loader-color_1,
    @el-position_2 @loader-color_2,
    @el-position_3 @loader-color_3,
    @el-position_4 @loader-color_4,
    @el-position_5 @loader-color_5,
    @el-position_6 @loader-color_6,
    @el-position_7 @loader-color_7,
    @el-position_8 @loader-color_8
  ;
  }
  12.5% {
    box-shadow:
    @el-position_1 @loader-color_8,
    @el-position_2 @loader-color_1,
    @el-position_3 @loader-color_2,
    @el-position_4 @loader-color_3,
    @el-position_5 @loader-color_4,
    @el-position_6 @loader-color_5,
    @el-position_7 @loader-color_6,
    @el-position_8 @loader-color_7
  ;
  }
  25% {
    box-shadow:
    @el-position_1 @loader-color_7,
    @el-position_2 @loader-color_8,
    @el-position_3 @loader-color_1,
    @el-position_4 @loader-color_2,
    @el-position_5 @loader-color_3,
    @el-position_6 @loader-color_4,
    @el-position_7 @loader-color_5,
    @el-position_8 @loader-color_6
  ;
  }
  37.5% {
    box-shadow:
    @el-position_1 @loader-color_6,
    @el-position_2 @loader-color_7,
    @el-position_3 @loader-color_8,
    @el-position_4 @loader-color_1,
    @el-position_5 @loader-color_2,
    @el-position_6 @loader-color_3,
    @el-position_7 @loader-color_4,
    @el-position_8 @loader-color_5
  ;
  }
  50% {
    box-shadow:
    @el-position_1 @loader-color_5,
    @el-position_2 @loader-color_6,
    @el-position_3 @loader-color_7,
    @el-position_4 @loader-color_8,
    @el-position_5 @loader-color_1,
    @el-position_6 @loader-color_2,
    @el-position_7 @loader-color_3,
    @el-position_8 @loader-color_4
  ;
  }
  62.5% {
    box-shadow:
    @el-position_1 @loader-color_4,
    @el-position_2 @loader-color_5,
    @el-position_3 @loader-color_6,
    @el-position_4 @loader-color_7,
    @el-position_5 @loader-color_8,
    @el-position_6 @loader-color_1,
    @el-position_7 @loader-color_2,
    @el-position_8 @loader-color_3
  ;
  }
  75% {
    box-shadow:
    @el-position_1 @loader-color_3,
    @el-position_2 @loader-color_4,
    @el-position_3 @loader-color_5,
    @el-position_4 @loader-color_6,
    @el-position_5 @loader-color_7,
    @el-position_6 @loader-color_8,
    @el-position_7 @loader-color_1,
    @el-position_8 @loader-color_2
  ;
  }
  87.5% {
    box-shadow:
    @el-position_1 @loader-color_2,
    @el-position_2 @loader-color_3,
    @el-position_3 @loader-color_4,
    @el-position_4 @loader-color_5,
    @el-position_5 @loader-color_6,
    @el-position_6 @loader-color_7,
    @el-position_7 @loader-color_8,
    @el-position_8 @loader-color_1
  ;
  }
}
