.app-tree__options {
  line-height: 0;
  height: auto;
  display: block;
}
.app-tree__options-item {
  font-size: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;



  cursor: pointer;
  color: @theme-color-2;

  border: solid 1px @theme-color-2;
  width: 16px;
  height: 16px;
  border-radius: 2px;

  .itc {
    line-height: 0;
  }
}



.app-tree {
  display: block;
  width: 100%;

  &.app-tree_with-selection {
    .app-tree__group {
      
      &:first-child {
        margin-top: 0;
      }
      
      & > .app-tree__item {
        margin-left: -15px;
        padding-left: 50px;
      }
      .app-tree__group {
        & > .app-tree__item {
          margin-left: -30px;
          padding-left: 62px;
        }
        .app-tree__group {
          & > .app-tree__item {
            margin-left: -45px;
            padding-left: 75px;
          }
        }

      }
    }
    .app-tree__item {
    }
  }

}

.app-tree__item-container {
  padding-right: 15px;
  word-break: break-all;
/*  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;*/
}

.app-tree__group-container {
  display: flex;
  flex-direction: row;
}


.app-tree__plus {

}

.app-tree__group {

  width: 100%;
  height: auto;
  margin-top: 5px;
  cursor: pointer;
  padding-right: 10px;
  &:first-child {
    margin-top: 0;
  }

  .app-tree__group-icon {
    .itc;
    &:extend(.itc-select-down all);
    width: 16px;
    min-width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    //.app-tree__plus;
    &:before {

      font-size: 12px;
      display: inline-block;
    }
  }

  .app-tree__group-text {
    font-weight: 700;
    word-break: break-all;
  }

  &.app-tree__group_opened {

    & > .app-tree__group-container {
      .app-tree__group-icon {
        &:extend(.itc-select-up all);

      }
    }


    & > .app-tree__group {
      margin-left: 15px;
      display: block;

      &.app-tree__group_opened {
        & > .app-tree__item {
          display: block;
        }
      }
    }

    & > .app-tree__item {
      display: block;
    }
  }

  & > .app-tree__group {
    margin-left: 15px;
    display: none;
    &.app-tree__group_opened {
      & > .app-tree__item {
        display: none;
      }
    }
  }

  .app-tree__item {
    padding-top: 3px;
    display: none;
    margin: 3px 0 0 20px;
    cursor: pointer;
  }
}

.app-tree__item {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  cursor: pointer;

  .itc {
    margin-right: 3px;
  }
  .glyphicon {
    margin-right: 3px;
  }


  input[type="checkbox"],
  label {
    .adjustments-reset;
  }

  &.app-tree__item_selected {
    background-color: #dddddd;
  }

}

.app-tree__item {
  &.app-tree__item_selected {
    .app-tree__item-icon {
      &.app-tree__item-icon_favorite-indeterminate {
        color: @white-1;
      }
    }
  }
}

.app-tree__item-icon {
  display: inline-block;
  &.app-tree__item-icon_favorite-active {
    color: @theme-color;
  }
  &.app-tree__item-icon_favorite {
    color: @grey-2;
  }
  &.app-tree__item-icon_favorite-indeterminate {
    color: #d1d1d1;

    position: relative;
    width: 14px;
    height: 14px;



    &:before {
      position: absolute;
      left: 0;
      top: 0;
      color: @theme-color;
      content: "\e961";
    }
    &:after {
      content: '';
      background: @theme-color;
      position: absolute;

      width: 2px;
      height: 2px;

      top: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

  }
}



.app-tree__item-text {
  word-break: break-all;
  &.app-tree__item-text_crossout {
    text-decoration: line-through;
  }
}


.btn-default {
  &.btn-favorite {
    &:hover {
      background: none;
    }
    &:active {
      background: none;
      box-shadow: none;
    }
  }
}

.app-tree__header {
  font-family: @font-bold;
  margin: 10px 0;
}