.app-status {
  width: 10px;
  height: 10px;
  background: @grey-2;
  display: inline-block;
  border-radius: 50%;

  &.app-status_active {
    background: @green-1;
  }
  &.app-status_inactive {
    background: @yellow-1;
  }
  &.app-status_archive {
    background: @theme-color;
  }


  &.app-status_low {
    background: @green-1;
  }
  &.app-status_middle {
    background: @yellow-1;
  }
  &.app-status_high {
    background: @theme-color;
  }
}

.app-table {
  .app-status {
    margin-right: 5px;
  }
}