.app-prompt {
background-color: @yellow-2;
  padding: 5px;
  margin-bottom: 10px;
}
.app-prompt__body {

  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.app-prompt__icon {
  font-size: 18px;
  margin-right: 5px;
  color: #ff7409;
  height: 20px;

  span {
    top: 0;
  }
}
.app-prompt__text {
  line-height: 1;
  font-size: 14px;
}


