@app-search_treeview-bg: #dee4ec;
.app-search {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  position: relative;

  &.app-search_page {
    .app-search__button {
      width: auto;
      padding: 8px 10px;
      font-size: 1.2em;

      .itc {
        margin-right: 5px;
      }
    }

    .app-search__input {
      input[type="text"] {
        height: 100%;
      }
    }

  }

  &.app-search_modal {
    flex-direction: column;

    .app-search__container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    .app-search__label {
      align-self: flex-start;
    }

    .app-search__button {
      width: auto;
      padding: 0 10px;
      font-size: 1em;
      max-height: 37px;
      .itc {
        margin-right: 5px;
      }
    }
  }
  &.app-search_treeview {

    .app-search__input {
      input {
        padding: 5px 15px 5px 5px;
        border-radius: 4px 0 0 4px;
        background-color: #dee4ec;
      }
    }

    .app-search__button {
      border-radius: 0 4px 4px 0;
      font-size: 12px;
      background: @app-search_treeview-bg;
      color: @grey-8;
    }

    .app-search__remove {
      top: 10px;
      right: 0;
    }
  }
}

.app-search__label {
  font-size: 16px;
  font-family: @font-bold;
  padding-right: 10px;
  align-self: center;
}

.app-search__input {
  position: relative;
  flex-grow: 2;

  input[type="text"] {
    width: 100%;
    background-color: #ececec;
    border: none;
    padding: 10px 21px 10px 10px;
    outline: none;
    box-shadow: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.app-search__remove {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 9px;
  cursor: pointer;
}

.app-search__button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: @theme-color;
  width: 40px;
  text-align: center;
  padding: 0;
  color: #fff;
  font-size: 19px;
  &.app-search__button_stand-alone {
    width: auto;
    padding: 8px 10px;
    font-size: 1.2em;
    min-width: 80px;

    .btn__icon {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}

