.app-select {
  background: @grey-7;
  position: relative;
  select {
    border: none;
    background: transparent;

  }
  &:after {
    .itc;
    font-size: 10px;
    /*Import from itc-icons.less => itc-select-down*/
    content: '\e930';
    height: 100%;
    width: 30px;
    right: 0;
    background-color: @grey-7;
    top: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    line-height: 4;

  }
}

.app-select__arrow {
  width: 30px;
  height: 100%;
  background: @grey-7;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.app-select__arrow-icon {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.form-group {
  .app-select {
    background: @grey-7;
    position: relative;
    select {
      &.form-control {
        padding: 0 0 0 16px;
        border: none;
        background: transparent;
      }
    }
  }
}