@app-radio-width: 14px;
@app-radio-height: @app-radio-width;


._app-radio-before {

  position: absolute;
  top: 1px;
  left: 0;

  content: "";
  display: inline-block;
  width: @app-radio-width;
  height: @app-radio-height;
  background: transparent;
  border: solid 5px @white-1;
  border-radius: 50%;
}

.app-radio {
  position: relative;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  label {
    margin: 0;
    span {

      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 20px;
      position: relative;
      font-weight: 500;

      &:before {

        ._app-radio-before;

      }
      &:after {
        ._app-radio-before;
        border: solid 1px @theme-color;
        background: transparent;
      }
    }
  }

  input[type="radio"][disabled] {
    & ~ span {
      &:before {
        pointer-events: none;
        background: @grey-4;
      }
    }
    &:checked {
      ~ span {
        &:before {
          background: @grey-11;
        }
      }
    }
  }

  input[type="radio"] {
    display: none;
    position: absolute;
    width: @app-radio-width;
    height: @app-radio-height;
    margin: 0;
    &:checked {
      ~ span {
        &:before {
          background: @theme-color;
        }
      }
    }
  }

  &.app-radio_no-text {
    label {
      margin: 0;
      span {

        padding-left: 0;

        &:before {
          position: relative;
          top: auto;
          left: auto;
        }
      }
    }


  }


}