.app-favorites {}

.app-favorites__icon {
  color: @white-1;
  cursor: pointer;
  &.app-favorites__icon_dashboard {
    color: @grey-1;
  }

}

.app-favorites__icon_active {
  cursor: pointer;
  color: @theme-color;
}

.app-favorites__icon_patient-info {
  font-size: 14px;
  &.app-favorites__icon_active {
    color: @white-1;
  }
}