button {
  color: #fff;
  background: @theme-color;
  padding: 7px 15px;
  border: none;
  font-size: 1em;
  font-weight: 300;
}


.app-sidebar {
  .btn {
    .itc,
    .glyphicon{
      font-size: 16px;
      vertical-align: middle;

    }
  }
}
