.canvas-panel {
  bottom: 0;
}
.canvas-panel__area {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  z-index: 100;
  &:hover {
    &~ .canvas-panel__container {
      opacity: 1;
    }
  }
}
.canvas-panel__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;

  width: 410px;
  padding: 0 10px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;

  opacity: 0;
  transition: 300ms linear;
  background-color: @grey-13;
  box-shadow: 0 3px 5px @grey-4;

  &:hover {
    opacity: 1;
  }
}
.canvas-panel__container-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.canvas-panel__container-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 70px;
}
.canvas-panel__item-divider {
  width: 2px;
  height: 19px;
  position: relative;
  margin: 0 10px 0 0;
  &:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 19px;
    background-color: lighten(@grey-13, 5%);
  }
  &:after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 19px;
    background-color: darken(@grey-13, 5%);
  }
}
.canvas-panel__item-group {
  .toolbar__item-group;
  .canvas-panel__item {
    &.canvas-panel__item_active {
      background: @grey-1;
    }
  }
}

.canvas-panel__item {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

    min-width: 32px;
    width: auto;
    position: relative;
    padding: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    line-height: 1;



  &.canvas-panel__item_range {
    background: transparent;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin-right: 10px;*/
    &:last-child {
      margin-right: 0;
    }

    input[type="range"] {
      z-index: 10;
      width: 74px;
    }

    .canvas-panel__range-container {
      width: 74px;
      height: 18px;
      position: relative;
      &:before {
        content: "";
        width: 2px;
        height: 10px;
        background: #000;
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: -1;
      }
    }

    .canvas-panel__item-text {
      color: #000;
      padding-top: 5px;
      font-size: 12px;
    }

    .canvas-panel__item-icon {
      color: @black-1;
      margin-right: 5px;
    }


  }

}


.canvas-panel__item-icon {
  font-size: 18px;
  margin: 0 auto;
  color: @theme-color;

  &.canvas-panel__item-icon_small {
    font-size: 12px;
  }

  a {
    img {
      height: 20px;
    }
  }

  &.glyphicon {
    top: 0;
    left: 1px;
  }

  & ~ .canvas-panel__item-text {
    padding-left: 5px;
  }

}