.complex-search {}

.complex-search__header {
  margin-top: 15px;
}

.complex-search__body {
  position: relative;
  margin-top: 10px;
}

.complex-search__notification {

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.complex-search__notification-message {
  flex-grow: 2;
  padding-left: 5px;
}

.complex-search__remove {
  font-size: 9px;
  cursor: pointer;

  color: @theme-color;
}


.complex-search__results {
  position: relative;
}
.complex-search__results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complex-search__results-count {

}

.complex-search__result {
  margin-top: 5px;
}




.back-to {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.back-to__icon {
  color: @theme-color;
  padding-right: 5px;
}

.back-to__text {
  color: @theme-color;
}
.back-to__value {

  padding-left: 5px;
  color: @theme-color;
}