.document-viewer {

  height: 100%;
  width: 100%;
  display: table;
}

.document-viewer__containers {
  height: 100%;
  display: flex;
  flex-direction: row;

  &.document-viewer__containers_multi {
    .document-viewer__document {
      height: auto;
    }
  }
}

.document-viewer__container {
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  position: relative;


  display: flex;
  flex-direction: column;

  flex-basis: 50%;

  /*background-color: #fff;*/


  &:not(:first-child) {
    margin-left: 5px;
  }

  a {
    &.button {
      &.arrow_left {
        position: absolute;
        left: 10px;
        top: 400px;
        z-index:99;
      }
      &.arrow_right {
        position: absolute;
        right: 10px;
        top: 400px;
        z-index:99;
      }
    }
  }

}

@document-viewer__caption-background: rgba(255,255,255,.5);

.document-viewer__document-caption {

  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 2px;

}
.document-viewer__document-caption-body {

  width: 100%;
  background-color: @document-viewer__caption-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;


}


.document-viewer__document {
  height: 100%;
  position: relative;
  zoom: 1;
  min-height: 80%;
}

.document-viewer__document-pager {
  text-align: center;
}

.document-viewer__caption-title {
  font-size: 18px;
  text-align: left;
  font-family: @font-bold;

}
.document-viewer__caption-favorite {
  font-size: 18px;
  span {
    top: 0;
  }
}

.document-viewer__title {
  font-size: 24px;
  text-align: center;
  width: 100%;
  display: block;
}

.document-viewer__section {
  display: table-row;
  width: 1%;
  height: auto;

  &.document-viewer__section_full-height {
    height: 100%;
    min-height: 100%;
  }

  &.document-viewer__section_toolbox-tablet {
    display: none;
   /* height: 62px;*/
  }

  canvas {
    display: block;
    /*margin: 0 auto;*/
  }

  video {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }


  iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: -4px 0 0 0;


    body {
      scrollbar-3dlight-color: inherit;
      scrollbar-arrow-color: inherit;
      scrollbar-darkshadow-color: inherit;
      scrollbar-face-color: inherit;
      scrollbar-highlight-color: inherit;
      scrollbar-shadow-color: inherit;
      scrollbar-track-color: inherit;
    }

  }

}



/*canvas.canvas_selected {
  border: solid 3px #eee;
}*/

.canvas_selected {
  border: solid 2px @theme-color;
}
.canvas_not-selected {
  border: solid 2px @document-viewer__caption-background;
}
.canvas_no-border {
  border: none;
}
.canvasContainer {
  margin: 0 auto;
  overflow: auto;
  z-index: 15;
  position: absolute;
  border: solid 2px transparent;
}

.canvasContainer {
  &.canvas_selected {
    border: solid 2px @theme-color;
  }
  &.canvas_not-selected {
    border: solid 2px @document-viewer__caption-background;
  }
}