.drawer {}
.drawer__trigger {
  width: 50px;
  height: 25px;
  background-color: #ddd;
  color: @white-1;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto;
  display: block;
}
.drawer__container {}