@info-panel-width: 100%;
@info-panel-width_user-info: 500px;
@transition-speed_user-info: .3s;


.info-panel {
  display: block;
  position: absolute;
  width: @info-panel-width;

  &.info-panel_modal {
    width: 500px;
    position: relative;

    .info-panel__item-text {
      width: 100%;
      white-space: normal;
    }
  }
}

.info-panel__trigger {
  background: transparent;
  color: @theme-color;
  position: relative;
  min-width: 0;
  padding: 0;


  /*
   * Info icon hover magic.
   */
  &:hover {

    .info-panel_entity-info {
      opacity: 1;
      height: auto;
      padding: 20px 15px 10px 30px;
    }

    .info-panel__icon {

      &.itc-info {
        width: 0;
        opacity: 0;
      }
      &.itc-info-2 {
        display: inherit;
        width: auto;
        height: auto;
        opacity: 1;
        transition: all .5s ease;
      }
      .info-panel__icon-arrow {

        &.info-panel__icon-arrow-down {
          display: none;
          &:before {
            display: none;
          }
        }

      }
    }


  }

  .info-panel__icon {
    font-size: 30px;
    z-index: 901;
    position: absolute;

    &.itc-info {
      width: auto;
      opacity: 1;
      transition: all .5s ease;
    }

    &.itc-info-2 {
      display: none;
      opacity: 0;
    }

    .info-panel__icon-arrow {
      position: absolute;
      font-size: 10px;
      bottom: 0;
      right: 0;
      &:before {
        bottom: 0;
        position: absolute;
      }
    }

  }
  /* Info icon hover magic end. */
}



.info-panel_user-info {

  opacity: 0;

  padding: 0;
  height: 0;

  top: -20px;
  left: -10px;

  overflow: hidden;

  background: @white-1;

  width: @info-panel-width_user-info;

  z-index: 900;
  transition: all @transition-speed_user-info ease;

  box-shadow: 1px 1px 3px @grey-5;

}

.info-panel_entity-info {
  .info-panel_user-info;
  width: 600px;
  max-height: 50vh;
  overflow-y: auto;
  .info-panel__inner-wrapper {
    padding-left: 30px;
  }
  .info-panel__item {
    max-width: 100%;
    .info-panel__item-text {
      max-width: 100%;
    }
  }
}

.info-panel__inner-wrapper {
  width: 100%;
  padding: 0 0 0 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

}

.info-panel__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.5em 1em 0;

  min-width: 130px;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 130px;
  text-align: left;

  &.info-panel__item_document-title {
    font-size: 2rem;
    color: @black-1;
    padding: 0 0 .5em 0;
    font-family: @font-bold;
    text-align: left;
    width: 100%;
    max-width: 100%;
    display: block;
  }
  a {
    color: @theme-color;
    &:hover,
    &:focus {
      color: @theme-color;
    }
  }
}

.info-panel__item-header {
  font-size: 1.6rem;
  color: @grey-4;
  padding: 0 0 .5em 0;
  font-family: @font-bold;
}
.info-panel__item-text {
  font-size: 1.4rem;
  color: @blue-1;
  max-width: 125px;
}
