.lock-screen {

  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8);
  z-index: 1040;
  display: block;
  &.lock-screen_document-opening {
    width: 80%;
  }

  &.lock-screen_dashboard {
    background: rgba(255, 255, 255, .97);
  }
  .lock-screen_hiding {
    display: none!important;
  }

}
.wrapper_columns {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  .lock-screen {
    position: absolute;
  }
}
/*.lock-screen__loader-wrapper {
  position : relative;
}*/

.lock-screen__loader {

  width: 50px;
  height: 50px;

._absolute-centered;
  .app-loader {
    margin: 25px 0 0 25px;
  }
}



._a-big-wrapper {
  display: block;
  height: 100%;
  width: 100%;


}