.login-form-wrap {
  position: absolute;

  width: 530px;
  height: 500px;

  top: 0; bottom:0; right:0; left:0;
  margin: auto;

  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  padding: 30px;
  background: url("@{imgPath}/bg_login-form.png") no-repeat center -50px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  .login-form {
    width: 475px;
    padding: 10px 70px 35px 70px;
    background: transparent;
    display: block;


    .login-form__controls {
      text-align: center;
      margin-top: 15px;
    }

    .form-group {
      .form-control {
        min-height: 35px;
        height: 35px;
        line-height: 1;
        z-index: 1;
        &:focus,
        &:active {
          line-height: 1;
          outline: none;
        }
      }
    }
  }
}


.wrapper_login {
  width: 100%;
  height: 100%;
  background: url("@{imgPath}/bg_login_smallest.jpg") center center;
  background-size: cover;
}
.wrapper_login-christmas {
  width: 100%;
  height: 100%;
  background: url("@{imgPath}/bg_login-christmas.jpg") center center;
  background-size: cover;
}
@blur-pixels: 45px;


.fake-login {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;

  /*background: #fff;*/
}

.login-form__sub-header {

  h1 {
    margin: 0;
    font-size: 4rem;
    font-family: "Roboto-Bold";
  }
  h3 {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto-Bold";
  }
}