.patient-info {
  width: 100%;
  height: 100%;

  display: block;

    color: @white-1;

  .app-icon {
    color: @white-1;
    font-size: 10px;
  }

}


.patient-info__id {
  font-size: 13px;
}

.patient-info__credentials {
  font-size: 17px;
  word-break: break-all;
  span {
      word-wrap: break-word;
    word-break: break-all;
  }
}
.patient-info__date {
  font-size: 13px;
}
.patient-info__notes-icon {
  position: relative;
}
.patient-info__notes-icon-badge {
  background: @theme-color;
  width: 12px;
  height: 12px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  align-items: center;

  position: absolute;
  top: -6px;
  left: 50%;
}
.patient-info__notes-badge-digit {
  font-size: 8px;
}
