.patient-merge {
  .app-clearfix;
}

.patient-merge__header {
  .app-section;
  text-align: center;
  h2 {

  }
  p {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

}

.patient-merge__body {
  .app-section;
}

.patient-merge__footer {

  margin: 15px 0;
  text-align: right;
}


@padding-td: 5px 30px;

.patient-merge__table {
  width: auto;

  border-collapse: separate;
  border-spacing: 0;

  &.patient-merge__table_simple {
    tbody {
      tr {
      td {
        border-right: solid 1px transparent;
      }
    }
    }
  }

  thead {
    tr {
      th {
        font-weight: 400;
        padding: @padding-td;
        position: relative;
      }
    }
  }
  tfoot {
    tr {
      td {
        padding: @padding-td;
      }
    }
  }
  tbody {
    tr {
      td {

        border-right: solid 1px @grey-4;

        position: relative;
        width: 25%;
        padding: @padding-td;
        word-break: break-all;
        vertical-align: top;

        &:last-child {
          border-right: solid 1px transparent;
        }

        &._heading {
          width: 30%;
          padding-left: 10px;
          font-weight: 700;
          color: @grey-5;
          border-right: solid 1px transparent;
        }

          ._action-icon {
            position: absolute;
            right: -11px;
            padding: 3px;
            top: 3px;
            background: #ddd;
          }

      }
      &._background-gray {
        td {
          background: @grey-6;
          border-top: solid 10px #DDD;
          padding: 10px 30px;
          vertical-align: middle;
          &:first-child {
            color: @grey-5;
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            padding-left: 10px;
          }

        }
      }
    }
  }



  .app-checkbox {
    label {
      margin: 0;
    }
    span {
      &:before {
        background-color: #fff;
        margin-right: 0;
      }
    }
  }

  ._color-green {
    color: @green-1;
  }
  ._color-red {
    color: @theme-color;
  }

  ._text-bold {
    font-weight: 700;
  }

}