/*body {

  scrollbar-base-color: #ff0000;
  scrollbar-track-color: #EBEBEB;

}*/


/*

.app-thumbs {

  ::-webkit-scrollbar { width: 15px; }

  ::-webkit-scrollbar-button {  background-color: #666; }
  ::-webkit-scrollbar-track {  background-color: #999; }
  ::-webkit-scrollbar-track-piece { background-color: #ffffff; }
  ::-webkit-scrollbar-thumb { background-color: #666; }
  ::-webkit-scrollbar-corner { background-color: #999; }
  ::-webkit-resizer { background-color: #666; }

}

*/
