.search-panel {
  display: block;
  padding: 0;
  height: 100%;


  
  .search-panel__form {
    .search-panel__form-title {
      text-align: center;
    }
    /*background: @white-1;*/
    .search-panel__form-header {
      position: relative;
      /*height: 80px;*/
      .search-panel__form-header-content {
        .search-panel__form-header-link {
          position: absolute;
          top: 24px;
          &.search-panel__form-header-link_right {
            right: 15px;
          }
        }
      }
    }
    .control-label {
      color: @black-1;
    }
    .search-panel__form-controls {
      padding-bottom: 40px;
      &.search-panel__form-controls_align-center {
        text-align: center;
      }
    }
  }
  .search-panel__result {
    flex-grow: 1;
    background: transparent;
    h2 {
      margin-top: 35px;
    }

    .app-table {
      background: transparent;
      tr {
        td {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
  .table {
    table-layout: fixed;
    th {
      color: @grey-2;
      font-weight: 700;
      padding: 8px 15px;
    }
    td {
      padding: 8px 15px;
      &:first-child {
        font-weight: 700;
      }
    }
  }
}
