.sharepoint-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sharepoint-buttons__divider {

}

@sharepoint-buttons__item-size: 35px;

.sharepoint-buttons__item {
  width: @sharepoint-buttons__item-size;
  height: @sharepoint-buttons__item-size;


  border-radius: 50%;
  border: solid 2px #969eaa;
  cursor: pointer;
}

.sharepoint-buttons__item-icon {
  align-self: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #969eaa;
}