/* SWITCHER */

.app-switcher {
  width: 100%;
  height: auto;
  font: normal 14px "Arial";
  list-style-type: none;
  margin: 0;
  padding: 0;

  border: solid 3px @theme-color;

  display: flex;

  .app-switcher__item {
    height: 100%;
    color: @theme-color;
    margin: 0;
    padding: 5px 10px;

    flex-grow: 1;
    
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    width: auto;
    cursor: pointer;
    border-left: solid 1px darken(@theme-color, 5%);
    &:first-child {
      border-left: none;
    }
    &.app-switcher__item_active {
      background-color: @theme-color;
      color: #fff;
      cursor: default;
      border-left: none;
    }
  }
  &.app-switcher_single {
    width: auto;
    .app-switcher__item {
      display: none;
      &.app-switcher__item_active {
        background-color: #718900;
        box-shadow: inset 0px 1px 1px #000;
        cursor: default;
        display: table-cell;
        border-left: none;
        &:active {

        }
      }
      &:active {
        box-shadow: inset 0px 1px 1px #000;

      }
    }
  }
}

/* app-switcher END */