.tasklist {

  background: @white-1 url("@{imgPath}/bg_tasklist.jpg") bottom no-repeat;
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  z-index: 101;


  box-shadow: -1px 1px 4px @grey-2;

}
.tasklist__label {
  transform: rotate(-90deg);
  background: @theme-color;
  width: 80px;
  position: absolute;
  right: -27px;
  top: 27px;

  padding: 3px;
  color: @white-1;
  text-align: center;

  cursor: pointer;
}

.tasklist__body {
  width: 280px;
  display: none;
  padding: 30px;
}

.tasklist__header {
  .tasklist__header-icon {
    position: absolute;
    right: -35px;
    top: 26px;
    z-index: 1000;
    font-size: 65px;
    color: @grey-9;
  }
}

.tasklist__header-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  width: 95%;
  font-size: 16px;
}
.tasklist__header-control {
  font-size: 14px;
  &.tasklist__header-control_right {
    text-align: right;
  }
}
.tasklist__divider {
  display: block;
  height: 2px;
  background: @grey-9;
  margin: 15px 0;
}

.tasklist__section {
  margin-top: 15px;
  .tasklist__section-body {

  }
  .tasklist__section-head {
    font-family: @font-bold;
    margin-bottom: 15px;
  }
}

.tasklist__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
  /*height: 30px;*/
  /*padding: 0 15px;*/

  line-height: 1.2;

  cursor: pointer;

}

.tasklist__item-text {
  color: @theme-color;
  text-decoration: none;
  word-wrap: break-word;
  word-break: break-all;
  &:hover {
    text-decoration: underline;
  }
}

.tasklist__item-icon {
  font-size: 13px;
  padding-right: 5px;
  /*display: none;*/
}

.tasklist__dictor-name {
  color: @theme-color;
  font-family: @font-bold;
}

.tasklist__fake-trigger {
  position: absolute;
  right: 17px;
  top: 15px;
  color: @theme-color;
  font-size: 18px;
}