.toolbar {

  position: relative;
  padding: 20px 0 20px 35px;

  &.toolbar_tablet {
    position: absolute;
    width: 100%;
    padding: 10px;
    z-index: 100;
    left: 0;
    background: rgba(255,255, 255, .6);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .toolbar__item {
      display: block;
      width: auto;
      background: transparent;

      &.toolbar__item_taskbar {
        z-index: 102;
      }

      &.toolbar__item_document-title {
        color: #000;
        flex-grow: 1;
        text-align: left;
        word-break: break-all;
        h3 {
          line-height: 1;
        }
        .toolbar__item-text {
          h3 {
            margin: 0;
          }
        }
      }

      .toolbar__item-count {
        /*border-color: @white-1;*/
        background: @theme-color;
        color: @white-1;
        padding: 1px 0 0 0;
      }

    }
    .toolbar__item-icon {
      color: @theme-color;
    }
  }
  &.toolbar_tablet-patient-search {
    width: 20%;
    right: 0;
    left: auto;
    /*z-index: 200;*/
    background: transparent;
/*    .toolbar__item-icon {
      font-size: 25px;
    }*/
  }
}

.toolbar__item-icon-arrow {
  position: absolute;
  font-size: 10px;
  bottom: 0;
  right: 0;
  &:before {
    bottom: 0;
    position: absolute;
  }
}

.toolbar__container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  flex: 1 1 auto;

  align-items: stretch;
  align-content: stretch;

  justify-content: center;
}

.toolbar__item {
  min-width: 32px;
  width: auto;
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  line-height: 1;
  padding: 5px;
  margin-bottom: 2px;
  margin-right: 3px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: @theme-color;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: @white-1;
    text-decoration: none;
    &:hover,
    &:focus {
      color: @white-1;
    }
  }

  &.toolbar__item_info {
    background: transparent;
    color: @theme-color;
    position: absolute;
    left: 15px;
    top: 20px;
    min-width: 0;
    padding: 0;


    /*
     * Info icon hover magic.
     * has dependency -> info-panel.less
     */
    &:hover {

      .info-panel_user-info {
        opacity: 1;
        height: auto;
        padding: 20px 30px 10px 40px;
      }

      .toolbar__item-icon {
        &.itc-info {
          width: 0;
          opacity: 0;
        }
        &.itc-info-2 {
          display: inherit;
          width: auto;
          height: auto;
          opacity: 1;
          transition: all .5s ease;
        }
        .toolbar__item-icon-arrow-down {
          display: none;
        }
      }
    }
    .toolbar__item-icon {
      font-size: 30px;
      z-index: 901;
      &.itc-info {
        width: auto;
        opacity: 1;
        transition: all .5s ease;
      }
      &.itc-info-2 {
        display: none;
        opacity: 0;
      }
    }
    /* Info icon hover magic end. */
  }
  &.toolbar__item_range {
    background: transparent;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    .toolbar__item-text {
      color: #000;
      padding-top: 5px;
      font-size: 12px;
    }

    .toolbar__item-icon {
      color: @black-1;
    }

    &:before {
      content: "";
      width: 1px;
      height: 5px;
      background: #000;
      position: absolute;
      bottom: 9px;
      z-index: -1;
    }
  }

  &.toolbar__item_dropdown {
    padding: 0;

    .app-dropdown {
      height: 100%;

      .btn {
        height: 100%;
        padding: 5px;
      }

    }
  }
}

.toolbar__item-count {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  min-width: 13px;

  margin: 1px 1px 0 0;
  padding: 0 1px 0 0;

  background: #fff;
  border: solid 2px @theme-color;

  color: @theme-color;
  font-size: 10px;
  text-align: center;
}


.toolbar__item-group {
  display: flex;
  margin-bottom: 2px;
  &:not(:last-child) {
    margin-right: 3px;
  }

  .toolbar__item {
    margin: 0;
    background-color: @theme-color;
    color: #fff;
    border: solid 2px @theme-color;
    &:not(:last-child) {
      border-right: none;
    }

    &.toolbar__item_active {
      background-color: #fff;
      color: @theme-color;

      box-shadow: inset 0 1px 1px #000;
    }

  }

}

.toolbar__item-icon {
  font-size: 18px;
  margin: 0 auto;

  &.toolbar__item-icon_small {
    font-size: 12px;
  }

  a {
    img {
      height: 20px;
    }
  }

  &.glyphicon {
    top: 0;
    left: 1px;
  }

  & ~ .toolbar__item-text {
    padding-left: 5px;
  }

}

.toolbar__item-text {
  font-size: 15px;
  line-height: 0;
}