.tree-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  .app-dropdown {
    .btn {
      .tree-filter__text;
    }
  }
}

.tree-filter__label {
  padding-right: 15px;
}

.tree-filter__text {
  font-family: @font-bold;
  padding-right: 5px;
}
.tree-filter__container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.tree-filter__container_bigger {
    flex-grow: 1;
  }
}

.tree-filter__caret {
  font-size: 12px;
  height: 12px;
}
.tree-filter__divider {
  width: 1px;
  height: 12px;
  background-color: @grey-1;
  margin: 0 5px;
}
.tree-filter__clear {
  font-size: 9px;
  margin-left: 5px;
  align-self: center;
  cursor: pointer;
}